.inputs {text-align: center;}
.inputs__div {display: inline-block;text-align: left;margin-bottom:1em;}
.inputs__div--not-last {margin-right:1em;}
.inputs__div--bottom {margin-bottom:0;}
.inputs__p {line-height:1.2;max-width:13em;font-size:0.8em;margin-bottom:0.2em;}
.inputs__p--small {max-width:10em;}
.inputs__p--big {font-weight: 700; text-align: center;margin-bottom: 1em;margin-bottom: 0.3em;}
.inputs__p--max {max-width:100%;}

.inputs__input {height:1.5em;width:13em;font-size:1em;text-align: center;}
.inputs__answer {height:2.15em;width:9em;font-size:1em;background-color: #EEEEEE;border: 0.1em solid #b2b2b2;display: table-cell;vertical-align: middle;text-align: center;}
.inputs__answer--large {height:2em;width:16em;}

.table {border-collapse: collapse;}

.table--wide {width:100%;}
.table__span {font-weight:700;font-size:0.9em;}
.table--wide__cell {padding:0.25em 0.5em;text-align: center;border:0.1em solid #888;}

.table__cell {display: table-cell;padding:0.5em 0;border:0.1em solid #888;}
.table__cell--grey {background-color: #EEEEEE;}
.table__cell--light-green {background-color: #e4efd3;}
.table__cell--dark-green {background-color: #c9ddbb;}

.text-title {font-weight: 700; text-align: center;margin-bottom: 1em;}
.text-title--large {max-width:100%;text-align: center;}
.text-title--underline {text-decoration: underline;}

.box-border {border:0.1em solid #1b6e34; padding:1em;}

.selected {background-color: #1b6e34;color:white;}
.hide {display: none;}

.note {line-height: 1.2;margin-top:1em;}
.note__bold {font-weight: 700;}

