{% extends base %}

{% block extra_styles %}
    <style>
    .author {font-weight:100;margin:0.7em 0 1em 0;}
    .author a:hover {text-decoration: underline;}
    .dot {font-size: 0.8em;}
    #main-content p {line-height:2;font-weight: 100;margin-top:1.3em;}
    #main-content a {text-decoration: underline;color: -webkit-link;}
    #main-content .mini-title {line-height:2;font-weight: 700;margin-top: 1.3em;}
    #main-content .addthis_native_toolbox:last-child {margin-top: 1.5em;}
    {% if not mobile %}
        .author-img {float:left;padding: 1em 1em 0 0}
    {% else %}
        .author-img {width:100%;height:auto;margin-top:1em}
    {% endif %}
    </style>
{% endblock %}

{% block page_content %}
<div id="main-content">
    <iframe style="border:none" width="100%" height="400" src="//www.youtube.com/embed/ms7nfJfgQdM" allowfullscreen></iframe>

    <p>
    The percentage that a student receives in a course is useful in measuring his understanding of the topics studied; however, when looking at the student’s entire semester, using an average percentage would pose serious issues.
    </p>

    <p>For example, one course may have been worth just one credit and yet the student received 100% which would bump up his semester average. This is where Grade Point Average (GPA) is very useful. Not only does it take into effect individual course marks, it uses the weight of each course in the calculation to have a better indication of the students’ academic status.
    </p>

    <p>GPA is the total amount of grade points that a student earns divided by how many credits it took to earn them. In order to earn grade points, a student must score within the percentage ranges in the chart below. Scoring an 83% in math for example would deem the student a GPA of 3.67 in that course. In order to find the total grade points the student earned from that course, you would simply multiply the GPA by the amount of credits the course was worth.
    </p>

    <img width="100%" height="auto" src="{{ root_domain }}img/gpa-scale.png">
    
    <p>

    <h2 class="mini-title">GPA = Total Grade Points Earned / Total Credits Taken</h2>

    <p>
    For example: if a student receives 93% in a course that was worth 2 credit and 71% in a course that was worth 4 credits. What GPA would this student have obtained between these two courses?
    </p>
    <p>Answer: What you would do is simply find the percentage range that it lies between and what GPA is associated with it. In this case the 93% would be associated with a 4.33 GPA. Since the course is worth 2 credits you would multiple it by two and get the <span class="underline">grade points earned</span> which would be 8.66. Now what you would do is find what GPA the 71% is associated with. It happens to be 2.67 GPA. Now what you would do is multiply that by the amount of credits, in this case 4.
    </p>
    <p>This would give a <span class="underline">grade points earned</span> of 10.68. Now you would add up the 10.68 and 8.66 to get your <span class="underline">total grade points earned</span> which would add up to be 19.33. We now have the <span class="underline">numerator of the GPA equation</span> above all figured out. All we have to do now is divide it by the total number of credits that the courses possess (<span class="underline">total credits taken</span>). After the calculation, you would have a final <span class="bold underline">GPA of approximately 3.22</span>.
    </p>
    
    {# <p>{{ author }}, <span class="thin-font grey italic">Fitness Guru,</span> #Beastmode</p> #}      

</div>
{% endblock %}
