{% extends base %}

{% block extra_styles %}
    <style>
    #main-content .addthis_native_toolbox:last-child {margin-top: 1.5em;}
    #page-description a {color: #428bca;font-weight: 400;}
    #page-description a:hover {color:#4c6496;text-decoration: underline;}
    #main-content table {width:100%;}
    #main-content table th {font-weight:normal;padding-top:0.35em;padding-bottom:0.35em;background-color: #e2e2e2;border-bottom:0.125em solid #333333;}
    #main-content table td {padding:0.25em 0.5em;text-align: center;font-weight: normal;}
    #main-content table td:not(:last-child) {border-right:0.125em solid #333333;}
    #main-content table th:not(:last-child) {border-right:0.125em solid #333333;}
    #main-content table tr:not(:last-child) td{border-bottom:0.125em solid #333333;}
    </style>
{% endblock %}

{% block page_content %}
   <div id="main-content">
        <table>

            <tr>
                <th>Grade Point Average</th>
                <th>Percentage</th>
                <th>Letter Grade</th>
            </tr>

            <tr><td>4.33</td><td>90-100</td><td>A+</td></tr>
            <tr><td>4.00</td><td>85-89</td><td>A</td></tr>
            <tr><td>3.67</td><td>80-84</td><td>A-</td></tr>
            <tr><td>3.33</td><td>77-79</td><td>B+</td></tr>
            <tr><td>3.00</td><td>73-76</td><td>B</td></tr>
            <tr><td>2.67</td><td>70-72</td><td>B-</td></tr>
            <tr><td>2.33</td><td>67-69</td><td>C+</td></tr>
            <tr><td>2.00</td><td>63-66</td><td>C</td></tr>
            <tr><td>1.67</td><td>60-62</td><td>C-</td></tr>
            <tr><td>1.33</td><td>55-59</td><td>D+</td></tr>
            <tr><td>1.00</td><td>50-54</td><td>D</td></tr>
            <tr><td>0.00</td><td>0-49</td><td>F</td></tr>
        </table>
    </div>
{% endblock %}
