{% extends base %}

{% block javascripts %}
	{{ parent() }}
	<script>$.getScript("{{ root_domain }}js/calculator.js?v=2.0");</script>
{% endblock %}

{% block extra_styles %}
	<style>
	.timer-tool {text-align: center;}
	.box-border {border:0.1em solid #f69b14; padding:0.7em;}
	.inputs {margin-top:1em; display: inline-block;}
	.inputs__div {display: inline-block;text-align: left;}
	.inputs__div--not-last {margin-right:1em;}
	.inputs__div--bottom {margin-bottom:0;}
	.bold {font-weight: 700;}

	.inputs__input {height:1.5em;width:5em;font-size:1em;text-align: center;margin-left:0.5em;margin-right:0.3em;}
	.inputs__input {margin-left: 0;}
	.inputs__answer {height:2.15em;width:3em;font-size:1em;background-color: #EEEEEE;border: 0.1em solid #b2b2b2;display: table-cell;vertical-align: middle;text-align: center;}

	.digits {display: inline-block;vertical-align: bottom;}
	.digits--small {font-size: 0.9em;}
	.digit {font-size:2.5em;margin:0 0.2em 0 0.5em;}
	.digit-first {margin-left: 0;}
	.digit--milli {font-size:1.2em;}

	.hand {font-size:2em;}
	.hand--milli {font-size:1em;}
	.hand--small {font-size:1.2em;}

	.text-title {font-weight: 700; text-align: center;margin-bottom: 1em;}
	.text-title--large {max-width:100%;text-align: center;}
	.text-title--underline {text-decoration: underline;}

	.buttons-container {display: inline-block;}
	.buttons-container--top {vertical-align: top;}

	.button-switch {display:inline-block;margin-left:1em;width:18em;border-collapse: collapse;table-layout: fixed;}
	.button-switch__cell {display: table-cell;width: 2%;} /* 2% because magic... (triggers the table-layout:fixed property) */

	.button--browser {width:30%;display:inline-block;margin:0 0 0.5em 0;}
	.button--more-margin {margin-bottom: 1em;}
	.button--small {width:6em; display:inline-block; margin:0 0 0 2em;}
	.button--last {margin-left:0.5em;}
	.button--blue {color:#7a7ecb;border-color:#7a7ecb;}
	.button--red {color:red;border-color:red;}
	.button--green {color:green;border-color:green;}
	.button--gray {color:gray;border-color:gray;}

	.active-button {background-color:#f69b14;color:white;}
	.active-button--blue {background-color: #7a7ecb; color:white;}
	.hover:hover {background-color: #f69b14;color:white;}
	.hover--red:hover {background-color: red;color:white;}
	.hover--green:hover {background-color: green;color:white;}

	.selected {background-color: #f69b14;color:white;}
	.selected--gray {background-color: gray;color:white;}
	.hide {display: none;}

	.split {width:90%;margin-left: auto;margin-right: auto;}
	.split__table {width:100%;}
	.split__table__cell {display: table-cell;padding:0.5em 0;border:0.1em solid #888;}

	{% if mobile %}
		.box-border {padding:0.5em;}
		.digits {display:block;}
		.digits--small {font-size: 1em;}
		.inputs {margin-top:0.7em;display:block;}
		.inputs__input {height:1.5em;width:3em;font-size:0.8em;}
		.inputs__input--ampm {width:5.5em;font-size: 0.9em;}

		.digit {font-size:1.8em;margin:0 0.1em 0 0.2em;}
		.digit--first {margin-left:0;}
		.digit--milli {font-size:1em;}
		.hand {font-size:1.2em;}
		.hand--small {font-size:1em;}
		.hand--milli {font-size:0.8em;}
		.hand--last {margin-right:0.5em;}
		.buttons-container {margin-top:0.7em;}
		.button {font-size:0.9em;padding:0.5em 0.35em;}
		.button--browser {display:none}
		.button-switch {margin-left:0;margin-top:0.5em;width:100%;}
		.button--small {margin:0;}
		.split__table span {font-size:0.9em;}
		.split__table__cell {padding:0.3em 0;}
	{% endif %}
	</style>
{% endblock %}

{% block extra_head %}<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">{% endblock %}

{% block page_content %}
<div id="main-content">
	<div class="hide-div-button button selected">Countdown Timer</div>
	<div class="box-border">
		<div class="button button--gray button--browser selected--gray">Show on Browser Tab</div>
		<div class="timer-tool">
			<div class="digits digits--small">
				<span class="digit digit--first" id="hours-result">00</span><span class="hand">h</span>
				<span class="digit" id="minutes-result">05</span><span class="hand">m</span>
				<span class="digit" id="seconds-result">00</span><span class="hand">s</span>
				<span class="digit digit--milli" id="milli-result">000</span><span class="hand hand--milli">ms</span>
			</div>
			<div class="button-switch">
				<div class="button button--blue active-button--blue button-switch__cell" id="friendly-sound-button">Friendly Sound</div>
				<div class="button button--blue button-switch__cell" id="annoying-sound-button">Annoying Sound</div>
				<div class="button button--blue button-switch__cell" id="sound-off-button">Sound Off</div>
			</div>
			<div class="inputs">
				<div class="inputs__div">
					<input type="number" id="hours-input" class="inputs__input" value ="00" placeholder="eg 2" step="1" min="0"><span class="hand--small">h</span>
				</div>
				<div class="inputs__div">
					<input type="number" id="minutes-input" class="inputs__input" value="05" placeholder="eg 5" step="1" min="0"><span class="hand--small">m</span>
				</div>
				<div class="inputs__div">
					<input type="number" id="seconds-input" class="inputs__input" value="00" placeholder="eg 30" step="1" min="0"><span class="hand--small hand--last">s</span>
				</div>
			</div>
			<div class="buttons-container">
				<div class="button button--small hover" id="start-button">Start</div>
				<div class="button button--small hover hide" id="pause-button">Pause</div>
				<div class="button button--small hover hide" id="resume-button">Resume</div>
				<div class="button button--small hover hide" id="stop-button">Stop</div>
				<div class="button button--small button--last button--red hover--red" id="reset-button">Reset</div>
			</div>
			<div class="split">
				<div class="button button--green hover--green button--split" id="split-button">Split Time</div>
				<table class="split__table" id="countdown-split-table"></table>
			</div>
		</div>
	</div>

	<div class="hide-div-button button">Stopwatch</div>
	<div class="box-border hide">
		<div class="button button--gray button--browser button--more-margin">Show on Browser Tab</div>
		<div class="timer-tool">
			<div class="digits">
				<span class="digit digit--first" id="hours-result-2">00</span><span class="hand">h</span>
				<span class="digit" id="minutes-result-2">00</span><span class="hand">m</span>
				<span class="digit" id="seconds-result-2">00</span><span class="hand">s</span>
				<span class="digit digit--milli" id="milli-result-2">000</span><span class="hand hand--milli">ms</span>
			</div>
			<div class="buttons-container buttons-container--top">
				<div class="button button--small hover" id="start-button-2">Start</div>
				<div class="button button--small hover hide" id="pause-button-2">Pause</div>
				<div class="button button--small hover hide" id="resume-button-2">Resume</div>
				{#<div class="button button--small hover hide" id="stop-button">Stop</div>#}
				<div class="button button--small button--last button--red hover--red" id="reset-button-2">Reset</div>
			</div>
			<div class="split">
				<div class="button button--green hover--green button--split" id="split-button-2">Split Time</div>
				<table class="split__table" id="countdown-split-table-2"></table>
			</div>
		</div>
	</div>

	<div class="hide-div-button button">Alarm Clock</div>
	<div class="box-border hide">
		<div class="button button--gray button--browser">Show on Browser Tab</div>
		<div class="timer-tool">
			<div class="digits">
				<span class="digit digit--first" id="hours-result-alarm">00</span><span class="hand">h</span>
				<span class="digit" id="minutes-result-alarm">00</span><span class="hand">m</span>
				<span class="digit" id="seconds-result-alarm">00</span><span class="hand">s</span>
			</div>
			<div class="button-switch">
				<div class="button button--blue active-button--blue button-switch__cell" id="friendly-sound-button-alarm">Friendly Sound</div>
				<div class="button button--blue button-switch__cell" id="annoying-sound-button-alarm">Annoying Sound</div>
				<div class="button button--blue button-switch__cell" id="sound-off-button-alarm">Sound Off</div>
			</div>
			<div class="inputs">
				<div class="inputs__div">
					<input type="number" id="hours-input-alarm" class="inputs__input" placeholder="h" step="1" min="0" max="23"><span class="hand--small">:</span>
				</div>
				<div class="inputs__div">
					<input type="number" id="minutes-input-alarm" class="inputs__input inputs__input--alarm" placeholder="m" step="1" min="0" max="59"><span class="hand--small">:</span>
				</div>
				<div class="inputs__div">
					<input type="number" id="seconds-input-alarm" class="inputs__input inputs__input--alarm" placeholder="s" step="1" min="0" max="59">{#<span class="hand--small hand--last">s</span>#}
				</div>
				<select id="am-pm-alarm" class="inputs__input inputs__input--ampm">
					<option value="am" selected>AM</option>
					<option value="pm">PM</option>
					<option value="24">24 HR</option>
				</select>
			</div>
			<div class="buttons-container">
				<div class="button button--small hover" id="start-button-alarm">Start</div>
				<div class="button button--small hover hide" id="stop-button-alarm">Stop</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}