html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font-family:Helvetica,Arial,Optima,Sans Pro;vertical-align:baseline;color:#333333;}
sup {margin:0;padding:0;border:0;font-size:100%;font-family:Helvetica,Arial,Optima,Sans Pro;vertical-align:super;color:black;}
b {margin:0;padding:0;border:0;font-size:100%;font-family:Helvetica,Arial,Optima,Sans Pro;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {background-color:#e2e2e2;line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none;}
table {border-collapse:collapse;border-spacing:0;}
a {text-decoration:none;}
sub {vertical-align:sub;}

.header2 {font-size:1.1em; margin-top:1.3em;margin-bottom:0.5em;}
.header3 {font-size:1.0em; margin-top:1.0em;margin-bottom:0.3em;}
.sentence {margin-top:0.5em; margin-bottom:0.5em;line-height:1.5}
.sentence--indent {margin-left:1.5em;}
.list {list-style-type:disc;}
.list__indent {line-height:1.2;margin-left:2em;margin-top:0.4em;margin-bottom:0.2em;}
.bold {font-weight:700;}
.button {margin:0.7em 0;padding:0.5em 0.2em;text-align:center;-moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; user-select:none; cursor:pointer;}
.italic {font-style:italic;}
.time {font-style:italic;color:#939393;}
.small-text {font-size:0.9em;}
.big-text {font-size:1.1em;}
.hide {display:none;}
.shadow {box-shadow:0.2em 0.2em 0.5em #999999;}
.link {color:#428bca;font-weight:400;}
.link:hover {color:#4c6496;text-decoration:underline; cursor:pointer;}

.outer-container {width:68.25em;margin:0 auto;}
.inner-container {padding:0.7em 2em 7.07em 2em;overflow:hidden;background-color:white;box-shadow:0 0 1em #BBBBBB;}
.header {position:relative;margin-bottom: 0.7em;}
.logo-image-container {display:table-cell;}
.logo {width:5.5em;height:5.5em;display:block;margin-right:1.5em;}
.logo-text-container {display:table-cell;vertical-align:middle;}
.calculator-title {margin-bottom:0.3em;font-size:1.8em;}
.tag-line {font-size:1.2em;}

.social {position:absolute;right:0;top:0;}
.social__item:not(:last-child) {border-right:1em solid transparent;}
.social__logo {display:block;width:2em;height:2em;}

.info-bar-container {display: table-cell;}
.info-bar {display:inline-block;margin-left:-2em;padding-left:1.1em;overflow:hidden;}
.info-bar__item {float:left;}
.info-bar__item__text {display:block;text-align:center;padding:0.7em 1em 0.7em 1em;font-size:0.9em;color:white}
.info-bar__logo-container {display: table-cell;vertical-align: middle;}
.info-bar__logo {display: block; margin-left: 0.8em;}

.outer-page-content {position:relative;width:45.5em;display:inline-block;}
.page-content {padding:1.2em 2.2em 0 0;}
.color-box {width:1.2em;height:1.2em;display:inline-block;margin-right:0.5em;}
.page-title {display:inline-block;font-size:1.5em;font-weight:100;margin-bottom:0.3em;}
.page-description {line-height:1.3;}
#main-content {margin:1.5em 0;position:relative;}

.side-bar {width:18.75em;float:right;}
.navbar-container {margin:1.4em 0.8em 2.5em 0.8em;}
.navbar {margin-bottom:-1.5em;}
.button--navbar {padding:0.7em 0.2em;font-size:1.2em;margin-bottom:0;}
.navbar__item:hover {cursor:pointer;}
.navbar__link  {display:block;color:white;padding:0.7em 1em 0.7em 1.4em;}
.navbar__link--first {padding-top:0.8em;}
.navbar__link--inactive {pointer-events:none;}
.navbar__dropdown-item {color:#222222;}
.navbar__dropdown-item:hover {text-decoration:underline;}
.dropdown-symbol {margin-left:1em;color:white;}

.latest-article {margin-top:1em;padding:0.5em;text-align:center;box-shadow:0 0 1em #BBBBBB;}
.latest-article__tag:first-child {margin-bottom:0.5em;line-height:normal;}
.latest-article__title:last-child {text-align:left;font-weight:700;}
.latest-article__logo {vertical-align:bottom;margin-bottom:0.5em;}

.footer {padding:2em;}
.footer__item-container {display:table;width:100%;margin-bottom:1.6em;}
.footer__item {display:table-cell;}
.footer__item--extra-padding {padding-left:2.5em;}
.footer__text,.footer__link {color:white;line-height:1.5;}
.footer__text--title {display:inline-block;margin-bottom:1.6em;font-size:1.3em;font-style:italic;}
.footer__text--extra-info {float:right;}
.footer__link:hover {text-decoration:underline; cursor:pointer;}
.footer__link--black {color:#000;}


