.header2 {font-size:1.1em; margin-top:1.3em;margin-bottom:0.5em;}
.header3 {font-size:1.0em; margin-top:1.0em;margin-bottom:0.3em;}
.sentence {margin-top:0.5em; margin-bottom:0.5em;line-height:1.5}
.sentence--indent {margin-left:1.5em;}

.shadow {box-shadow:0.2em 0.2em 0.5em #999999;}
.link:hover {color:{{ highlight_color }};text-decoration:underline; cursor:pointer;}

.outer-container {width:68.25em;margin:0 auto;}
.inner-container {padding:1em 2em 1em 2em;overflow:hidden;background-color:white;box-shadow:0 0 1em #BBBBBB;}
.header {position:relative;margin-bottom: 0.7em;}
.logo-image-container {display:table-cell;}
.logo {display:block;}
.logo-text-container {display:table-cell;vertical-align:middle;padding-left:1.5em;}
.calculator-title-link {display: block;}
.calculator-title {margin-bottom:0.3em;font-size:1.8em;}
.tag-line {font-size:1.2em;}

.social-container {position:absolute;right:0;top:0;}
.social-container--bottom {position:absolute;right:0;bottom:0;}
.social {display: table-cell;}
.social__text {display:table-cell;font-size:1.2em;vertical-align:middle;padding-right:0.6em;font-style:italic;color:{{ dark_color }};}
{% if local_root == "home_page" %}
.social__text {display:block;margin-bottom:0.5em;}
{% endif %}
.social__logo {float:left;}
.social__logo:not(:last-child) {margin-right:0.5em;}
.social__link {height:2em;width:2em;display:block;}
.social__fb {background: url(//mes.fm/main_img/social-sprites.png) 0 0;}
.social__gplus {background: url(//mes.fm/main_img/social-sprites.png) -2em 0;}
.social__insta {background: url(//mes.fm/main_img/social-sprites.png) -4em 0;}
.social__pin {background: url(//mes.fm/main_img/social-sprites.png) -6em 0;}
.social__twitter {background: url(//mes.fm/main_img/social-sprites.png) -8em 0;}
.social__yt {background: url(//mes.fm/main_img/social-sprites.png) -10em 0;}
.social__patreon {background: url(//mes.fm/main_img/social-sprites.png) -12em 0;}
.social__steemit {background: url(//mes.fm/main_img/social-sprites.png) -14em 0;}
.social__hive {background: url(//mes.fm/main_img/social-sprites.png) -16em 0;}
.social__telegram {background: url(//mes.fm/main_img/social-sprites.png) -18em 0;}

.addtoany-container {margin-top:1em;}
.a2a_kit {display:table-cell;height:32px;}
.a2a_label {display:none;}
.addtoany__button {margin-right: 0.6em;}

.info-bar-container {display: table-cell;}
.info-bar {display:inline-block;margin-left:-2em;padding-left:1.1em;overflow:hidden;}
.info-bar__item {float:left;}
.info-bar__item__text {display:block;text-align:center;padding:0.7em 1em 0.7em 1em;font-size:0.9em;color:white}
.info-bar__logo-container {display: table-cell;vertical-align: middle;}
.info-bar__logo {display: block; margin-left: 0.8em;}

.outer-page-content {width:45.5em;display:inline-block;}
.page-content {padding:1.2em 2.25em 0 0;}
.color-box {width:1.2em;height:1.2em;display:inline-block;margin-right:0.5em;}
.page-title {display:inline-block;font-size:1.5em;font-weight:100;margin-bottom:0.3em;}
.page-description {line-height:1.3;}
#main-content {margin:1.5em 0;position:relative;}

.side-bar {width:18.75em;float:right;}
.navbar-container {margin:2.1em 0.8em;}
.navbar {margin-bottom:-1em;}
.button--navbar {padding:0.7em 0.2em;font-size:1.2em;margin-bottom:0;color:{{ dark_color }};border:0.125em solid {{ dark_color }};}

.navbar__item:hover {cursor:pointer;}
.navbar__link  {display:block;color:white;padding:0.7em 1em 0.7em 1.4em;}
.navbar__link--first {padding-top:0.8em;}
.navbar__dropdown-item {color:#222222;}
.navbar__dropdown-item:hover {text-decoration:underline;}
.dropdown-symbol {margin-left:1em;color:white;}

.latest-article {margin-top:1em;padding:0.5em;text-align:center;box-shadow:0 0 1em #BBBBBB;}
.latest-article__tag:first-child {margin-bottom:0.5em;line-height:normal;}
.latest-article__title:last-child {text-align:left;font-weight:700;}
.latest-article__logo {vertical-align:bottom;margin-bottom:0.5em;}

.footer {padding:2em;}
.footer__item-container {display:table;width:100%;margin-bottom:1.6em;}
.footer__item {display:table-cell;}
.footer__item--extra-padding {padding-left:2.5em;}
.footer__text {color:white;line-height:1.5;}
.footer__text--title {display:inline-block;margin-bottom:1.6em;font-size:1.3em;font-style:italic;}
.footer__text--extra-info {float:right;}
.footer__text:not(.footer__text--copyright):hover {text-decoration:underline; cursor:pointer;}
.footer__text--black {color:#000;}
.footer__separator {color:white;}

.active-tab {background-color: {{ light_color }};color: #222222;}
.navbar__link:hover:not(.navbar__dropdown-item):not(.active-tab),.info-bar__item__text:hover:not(.active-tab) {background-color: {{ highlight_color }};}
