{% extends base %}

{% block extra_styles %}
    <style>
    .author {font-weight:100;margin:0.7em 0 1em 0;}
    .author a:hover {text-decoration: underline;}
    .dot {font-size: 0.8em;}
    #main-content p {line-height:2;font-weight: 400;margin-top:1.3em;}
    #main-content a {text-decoration: underline;color: -webkit-link;}
    #main-content .mini-title {line-height:2;font-weight: 700;margin-top: 1.3em;}
    #main-content .addthis_native_toolbox:last-child {margin-top: 1.5em;}
    {% if not mobile %}
        .author-img {float:left;padding: 1em 1em 0 0}
    {% else %}
        .author-img {width:100%;height:auto;margin-top:1em}
    {% endif %}
    </style>
{% endblock %}

{% block page_content %}
<div id="main-content">
	<iframe style="border:none" width="100%" height="400" src="//www.youtube.com/embed/4kuCuBjoXmE" allowfullscreen></iframe>
    <img class="author-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Adolphe_Qu%C3%A9telet_by_Joseph-Arnold_Demannez.jpg/220px-Adolphe_Qu%C3%A9telet_by_Joseph-Arnold_Demannez.jpg">
    <p>
	Body Mass Index (BMI) is a measure of relative mass based on ones height and weight. Originally
	named the Quételet Index after Belgian astronomer, mathematician, statistician and sociologist
	Adolphe Quételet.
    </p>

    <p>
	BMI is defined as one’s body mass divided by the square of their height in units of kg/m<sup>2</sup>
	as shown on the <a href="{{ root_domain }}bmi-formula" target="_blank">BMI Formula</a> page.
    </p>

    <p>
	Assuming that someone were to calculate their BMI using the
	standard metric formula and obtained a BMI equivalent to 26.41
	kg/m<sup>2</sup>, what would this tell us about the individual’s relative
	mass and height? We would need to refer to our BMI
	Classification.
    </p>
    
    <img style="float:right;padding: 1em 1em 0 0" src="https://3.bp.blogspot.com/_HUL_JenFKWY/TNtRv_-g8cI/AAAAAAAAApE/ht32z1DBFDg/s1600/BMI+Classification+Chart.png">
    <h2 class="mini-title">BMI Classification (International Standard)</h2>

    <p>
    As we can see here, a BMI of 26.41 would fall into the Overweight
    category. The following graph will show the varying BMI values
    depending on height and mass. Notice that people with differing
    height and mass may have the same BMI.
	</p>

    <img style="width:100%;padding-top:1em" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Body_mass_index_chart.svg/1229px-Body_mass_index_chart.svg.png">

	<p>
	The portions with the same colour represent a classification or
	category. For example all the red areas are considered obese which
	means over a BMI of 30.
	</p>

    <h2 class="mini-title">History and Usage</h2>

    <p>
    Adolphe Quételet devised the Quételet Index between 1830 and 1850
    during the course of ‘social physics.’ His purpose was to obtain a
    relationship to describe the standard proportions of the human body
    using the ratio of mass and height in the average adult. Throughout
    Quételet’s research, he found that mass varied not in direct
    proportion with height but rather more closely to the square of the
    height.
	</p>

	<p class="italic">What does this mean exactly?<p>
	<p>An easy way to understand this would be with a simple but effective example: </p>
    
    <p class="italic">Example</p>
    <p>Let’s say that we have an individual that is 100 kg with a height of 2 m. If we were to increase the height of this individual by 10%,</p>
    <p>a) what would his mass be if we used a direct proportion of mass and height? </p>
    <p>b) what would his mass be if we used the BMI relationship (i.e. square of the height) between mass and height?</p>

    <p class="italic">Solution</p>

    <p>a) Since mass and height are related with a direct proportion, we would simply increase the mass with the same relative amount that height increased. In this case we would increase the mass by 10% since height increased by 10%. Therefore our individual would weigh 110 kg with a height of 2.2 m.</p>
    <p>a) Using the equation BMI = mass/height^2, we can see that the relationship is not a direct proportion. What we would do set up an equation to solve for the new mass:</p>
    <p>mass(initial)/(height(initial))^2 = mass(new)/((height(new))^2</p>
    <p>All of the variables are known except for mass(new). So now we plug in the values and solve for the unknown.</p>
    <p>The mass(new) works out to be 121 kg</p>

    <p class="italic">Conclusion</p>
    <p>Throughout his research, Quételet noticed that through multiple samples, the relationship between mass and height is not directly proportional at all and rather is much more closely related to his Index. Although the true proportion of average mass among adults is not exactly related to the square of the height, it is very close and is much more accurate than direct proportion.</p>

    <h2 class="mini-title">History and Usage Continued</h2>

    <p>The Quételet Index was not widely used at first until post WW2 when the relationship between weight and cardiovascular disease become a subject of study –Eknoyan (2007). It was known as the Quételet Index until the term “Body Mass Index” was used by Ancel Keys et al in his 1972 paper entitled: “Indices of relative weight and obesity.” In his paper, he concluded that BMI was the best proxy for body fat percentage among ratios of weight and height.</p>
    <p>BMI is widely used as a simple method to assess an individual’s body weight relative to his height to have a comparison to what is labeled as ‘normal.’</p>
    <p>There is a strong debate to the thresholds of the BMI classifications. For example, what is considered underweight, overweight, normal and obese is a hard thing to pin point. Furthermore, there are some limitations to BMI that should be addressed also:</p>

    <p>1) Scaling up: Larger Individuals have larger  BMI’s even if there is an exact same proportions</p>
    <p>2) Individuals with high muscle mass will have larger BMI values</p>
    <p>3) There is a variation depending on your age, gender and population</p>

    {# <p>{{ author }}, <span class="thin-font grey italic">Fitness Guru,</span> #Beastmode</p> #}
</div>
{% endblock %}
