<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if mobile %}
        	<!--
			~ Copyright (C) 2014-2015 Media.net Advertising FZ-LLC All Rights Reserved
			-->
			<script type="text/javascript">
			    window._mNHandle = window._mNHandle || {};
			    window._mNHandle.queue = window._mNHandle.queue || [];
			    medianet_versionId = "151199"; 
			    (function() {
			        var sct = document.createElement("script"),
			        winObj = window.top || window,
				sctHl = winObj.document.getElementsByTagName("script")[0],
			        isSSL = 'https:' == document.location.protocol;
			        sct.type = "text/javascript";
			        sct.src = (isSSL ? 'https:' : 'http:') + '//contextual.media.net/inslmedianet.js?cid=8CUUOA816' + (isSSL ? '&https=1' : '')+'&crid=527518483&size=249x300';
			        sct.async = "async";
			        sctHl.parentNode.insertBefore(sct, sctHl);
			    })();
			    </script>
        {% else %}
        	  <!--
			  ~ Copyright (C) 2014-2015 Media.net Advertising FZ-LLC All Rights Reserved
			  -->
			<script type="text/javascript">
			    window._mNHandle = window._mNHandle || {};
			    window._mNHandle.queue = window._mNHandle.queue || [];
			    medianet_versionId = "151199"; 
			    (function() {
			        var sct = document.createElement("script"),
			        winObj = window.top || window,
				sctHl = winObj.document.getElementsByTagName("script")[0],
			        isSSL = 'https:' == document.location.protocol;
			        sct.type = "text/javascript";
			        sct.src = (isSSL ? 'https:' : 'http:') + '//contextual.media.net/inslmedianet.js?cid=8CUUOA816' + (isSSL ? '&https=1' : '')+'&crid=520667621&size=641x481';
			        sct.async = "async";
			        sctHl.parentNode.insertBefore(sct, sctHl);
			    })();
			    </script>
        {% endif %}

    </head>
    <body></body>
</html>