{% extends base %}

{% block javascripts %}
	{{ parent() }}
	<script>$.getScript("{{ root_domain }}js/calculator_wac.js");</script>
{% endblock %}

{% block extra_styles %}
	<style>
	.calculator-header {font-size: 1.1em;margin-bottom:1em;}
	#main-content #result {height:2em;width:10em;font-size: 1em;text-align: center;}

	.input-row {margin:0.5em 0;position: relative;}
	#bottom-container {margin-top:1.2em;}

	#table-container {margin-bottom: 1em;}
	#table-container p {line-height: normal;}
	#result-input-container {display: table-cell;}
	#result-input-container input {display: block;background-color: #EEEEEE;border: 0.0625em #b2b2b2 solid;}
	#result-text {color:black;margin-top:0.8em;line-height: 1.3;font-style: italic;font-weight: 400;margin-bottom:1em;}
	#result-text span {font-weight: 700;}

	.hover:hover {background-color: #575fab;color:white;}
	#main-content table {width:100%;}
	#main-content table input {height:1.5em;width:80%;font-size: 1em;text-align: center;border:none;}

	#table-container img {width:1.1em;height:1.1em;vertical-align: text-bottom;}
	#table-container img {cursor: pointer;}
	#main-content table th {font-weight:normal;padding-top:0.35em;padding-bottom:0.35em;background-color: #e2e2e2;border-bottom:0.125em solid #333333;}
	#main-content table td {padding:0.25em 0.5em;text-align: center;}
	#main-content table td:not(:last-child) {border-right:0.125em solid #333333;}
	#main-content table th:not(:last-child) {border-right:0.125em solid #333333;}
	#main-content table tr:not(:last-child) td{border-bottom:0.125em solid #333333;}
	</style>
{% endblock %}

{% block page_content %}
<div id="main-content">
	<div class="add-course-button button hover">add another course</div>
	<div id="table-container">
		<table id="course-table">
			<tr>
				<th>#</th>
				<th>Grade (%)</th>
				<th>Weight (Credits)</th>
				<th></th>
			</tr>
			<tr>
				<td>1</td>
				<td><input type="number"></td>
				<td><input type="number"></td>
				<td><img src="//mes.fm/main_img/red-x-mark.png" alt="red x mark"></td>				
			</tr>
			<tr>
				<td>2</td>
				<td><input type="number"></td>
				<td><input type="number"></td>
				<td><img src="//mes.fm/main_img/red-x-mark.png" alt="red x mark"></td>				
			</tr>
			<tr>
				<td>3</td>
				<td><input type="number"></td>
				<td><input type="number"></td>
				<td><img src="//mes.fm/main_img/red-x-mark.png" alt="red x mark"></td>				
			</tr>
			<tr>
				<td>4</td>
				<td><input type="number"></td>
				<td><input type="number"></td>
				<td><img src="//mes.fm/main_img/red-x-mark.png" alt="red x mark"></td>				
			</tr>
			<tr>
				<td>5</td>
				<td><input type="number"></td>
				<td><input type="number"></td>
				<td><img src="//mes.fm/main_img/red-x-mark.png" alt="red x mark"></td>				
			</tr>
		</table>
	</div>

	<div id="bottom-container">
		<p class="calculator-header">Average Grade of All Courses</p>

		<div class="input-row">
			<div class="result-div">
				<div id="result-input-container">
					<input id="result" readonly="readonly" type="text">
				</div>
			</div>
			<p id="result-text"></p>
		</div>
	</div>

	<!-- GC (Responsive) Rectangle -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-1461238060884369"
	     data-ad-slot="6884601265"
	     data-ad-format="rectangle"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

	<div class="hide-div-button button selected">Important Notes on our Weighted Average Calculator</div>
	<div class="box-border">
		<h2 class="header2 header2--top">Important Notes</h2>
		<p class="sentence">Although our weighted average calculator is often used to calculate overall semester average grades for courses that have varying weight in terms of credits, the actual calculation that we use can be applied to any group of numbers, regardless whether they are weighted differently or not. This means that you can calculate the weighted average of your assignments, courses, or even different semester years. Furthermore, our weighted average calculator can be used to calculate a simple unweighted average. This is because the basic average of a group of numbers is the same calculation as a weighted average except that the weights of all the numbers are calculated as being the same. Thus to calculate the basic average of any group of numbers using our calculator, all that needs to be done is setting the weights of all the courses to be the same value, for example set them equal to 1.</p>

		{% if mobile %}
			<!-- GC (Responsive) Vertical -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-1461238060884369"
			     data-ad-slot="1440170067"
			     data-ad-format="rectangle"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		{% endif %}

		<h2 class="header2">How does it work?</h2>
		<p class="sentence">The calculations behind our weighted average calculator are quite simple. Instead of just summing up all the grades and then dividing them by the total number of grades (which would get the basic average), each grade is multiplied by weight and then summed up and this time divided by the total weight or credits, as explained below:</p>

		<ul class="list">
			<li class="list__indent">Basic Average = (Grade1 + Grade2 + ... + ...) / (Total number of grades)</li>
			<li class="list__indent">Weighted Average = ( Grade1 * Weight1 + Grade2 * Weight2 + ... + ...) / (Weight1 + Weight2 + ... + ...)</li>
		</ul>

		<p class="sentence">For a more in depth look at the differences between the basic average and weighted average, as well as examples on using our calculator, make sure to check out our tutorial: <a class="link" href="{{ root_domain }}weighted-average-tutorial">Weighted Average Tutorial</a>.</p>
	</div>
</div>
{% endblock %}

{% block ads_after_comments %}
{% endblock %}