{% extends base %}

{% block extra_styles %}
	<style>
	.float-right {float:right;}
	{% if mobile %}
		.tutorial-img {width:100%;}
		.float-right {float:none;}
	{% endif %}
	</style>
{% endblock %}

{% block page_content %}
<div id="main-content">
	<iframe style="border:none" width="100%" height="400" src="{{ tutorial_src }}" allowfullscreen></iframe>

	<h2 class="header2">How to use our Grade Calculator</h2>
	<p class="sentence">Our grade calculator is very easy to use and it involves two different options for calculating the final exam grade needed to obtain a desired overall course grade. These options are listed below:</p>

	<p class="sentence sentence--indent">1) If you know your Current Grade, select Yes (note that this is the current course grade before taking your final exam)</p>
	<p class="sentence sentence--indent">2) If you don't know your Current Grade, Select No</p>

	<p class="sentence">For the second option, you would need to know all the scores or grades of your course work such as assignments, midterms, labs, homework, etc. Once you input these, as well as the weight or worth of each course work, our calculator automatically calculates your Current Grade as well as the Weight of the Final. The breakdown of the calculations behind both options are shown in the sections below.</p>

	<!-- GC (Responsive) Rectangle -->
	<ins class="adsbygoogle"
	     style="display:block;margin-top:1em;margin-bottom:1em;"
	     data-ad-client="ca-pub-1461238060884369"
	     data-ad-slot="6884601265"
	     data-ad-format="rectangle"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

	{% if not mobile %}<img class="tutorial-img float-right" width="40%" height="auto" title="Example knowing your Current Grade" src="{{ root_domain }}img/tutorial1.png" alt="A screenshot of our Grade Calculator for when you know your current course grade is shown.">{% endif %}

	<h2 class="header2">Option 1: You Know your Current Grade</h2>

	{% if mobile %}<img class="tutorial-img float-right" width="40%" height="auto" title="Example knowing your Current Grade" src="{{ root_domain }}img/tutorial1.png" alt="A screenshot of our Grade Calculator for when you know your current course grade is shown.">{% endif %}

	<p class="sentence">An example of our grade calculator for when you know your current grade is shown to the right. The example has inputs of 80% for the Desired Grade, 70% for the Current Grade, and 40% for the Weight of the Final Exam. The resulting Grade Needed on the Final Exam is calculated, which is 95%, as well as the minimum and maximum attainable course grades, which are 42% and 82% respectively.</p>

	<p class="sentence">The calculation for solving the Grade Needed on the Final Exam  follows the concept of a <span class="bold">weighted averaged</span> and the resulting equation used is shown below:</p>

	<p class="sentence">Desired Grade * Total Weight = Current Grade * Weight of Current Grade + Final Grade * Weight of Final Grade</p>

	<p class="sentence">If we simplify the equation above by abbreviating each of the terms we get:</p>

	<p class="sentence">D*W<sub>T</sub> = C*W<sub>C</sub> + F*W<sub>F</sub></p>

	<p class="sentence">Now the concept of "weights" simply means how big of a chunk of the total possible grade is any given grade worth. In our case the total possible grade, or total weight (W<sub>T</sub>) is just 100% and is broken down into two parts: Course Work (which is represented by the Weight of Current Grade (W<sub>C</sub>) and the Weight of the Final Exam (W<sub>F</sub>). Thus we have:</p>

	<p class="sentence">W<sub>T</sub> = W<sub>C</sub> + W<sub>F</sub></p>

	<p class="sentence">W<sub>T</sub> = 100%, W<sub>F</sub> = 40%</p>

	<p class="sentence">Rearranging to solve for W<sub>C</sub> we get:</p>

	<p class="sentence">W<sub>C</sub> = W<sub>T</sub> - W<sub>F</sub> = 100% - 40% = <span class="bold">60%</span></p>

	{% if mobile %}
		<!-- GC (Responsive) Vertical -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-1461238060884369"
		     data-ad-slot="1440170067"
		     data-ad-format="rectangle"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	{#{% else %}
		<script class="carambola_InContent" type="text/javascript"> (function (i,d,s,o,m,r,t,g) {
		    var e=d.getElementById(r);if(e===null){
		    var t = d.createElement(o); t.src = g; t.id = r; t.setAttribute(m, s);t.async = 1;var n=d.getElementsByTagName(o)[0];n.parentNode.insertBefore(t, n);} else { i[t](2) }
		    })(window, document, 'InContent', 'script', 'mediaType', 'carambola_proxy','Cbola_initializeProxy','http://'+'route.carambo.la/inimage/getlayer?pid=bmcl26')
		    </script>#}
	{% endif %}

	<h3 class="header3 italic">Percentages as Units</h3>

	<p class="sentence">Another important note to consider is that percentages can be viewed in the same way as any other unit, such as feet, inches, kilograms, pounds, etc., because in this case the conversion is simply dividing the percentage by 100. Thus 100% = 100/100 = 1 and 7% = 7/100 = 0.07. The idea behind percentages is to represent ratios and fractions in terms of being a fraction of the number 100 because it is often times easier to understand this way. For example, the fraction 4/5 = 0.80 = (0.80 *100)% = 80% and always equals 80/100. Thus the fraction 80/100, although the same as 4/5, is easier to comprehend because it deals with the very common number 100.</p>

	<h3 class="header3 italic">Solving for the Final Exam Grade</h3>

	<p class="sentence">Now to get back on track with the derivation above for the Final Exam Grade, F, needed to get a Desired Grade, D, we can simply rearrange the equation shown above and input the known terms as follows:</p>
	<p class="sentence">D*W<sub>T</sub> = C*W<sub>C</sub> + F*W<sub>F</sub></p>

	<p class="sentence">F = (D*W<sub>T</sub> - C*W<sub>C</sub> ) / W<sub>F</sub>  = (80% * 100% - 70% * 60%) / 40%</p>

	<p class="sentence">Now if we consider the percentages, %, simply as units and cancel accordingly as well as factor out the remaining percentage unit, we obtain:</p>

	<p class="sentence">F = (80*100% - 70*60%) / 40 = (80*100/40 - 70*60/40) % = 95%</p>

	<p class="sentence">Thus we need <span class="bold">95%</span> on the final exam to obtain a desired overall course grade of <span class="bold">80%</span>.</p>

	<h3 class="header3 italic">Minimum Possible Course Grade</h3>

	<p class="sentence">The minimum possible grade is for the case when you obtain 0% on your final exam, or in other words, the lowest possible grade on your final exam. In this case use the same initial equation as above but now we replace the desired grade, D, with the Minimum Grade, Min, as shown below: </p>

	<p class="sentence">Min*W<sub>T</sub> = C*W<sub>C</sub> + F*W<sub>F</sub> = C*W<sub>C</sub> + 0%*W<sub>F</sub> = C*W<sub>C</sub></p>

	<p class="sentence">Dividing W<sub>T</sub> by both sides and inputting the known terms, we thus have:</p>

	<p class="sentence">Min = C*W<sub>C</sub> / W<sub>T</sub> = 70% * 60% / 100% = (70*60/100) % = <span class="bold">42%</span></p>

	<h3 class="header3 italic">Maximum Possible Course Grade</h3>

	<p class="sentence">The maximum possible course grade is for the case when you obtain 100% in the final exam, which when assuming there are no bonus marks, is the highest possible grade on the final exam. Also, the maximum possible course grade, Max, is shown below to be just simply the minimum possible course grade plus the weight of the final:</p>

	<p class="sentence">Max*W<sub>T</sub> = C*W<sub>C</sub> + F*W<sub>F</sub> = C*W<sub>C</sub> + 100% * W<sub>F</sub></p>

	<p class="sentence">Dividing by W<sub>T</sub> , which is the equal to 100%, we obtain:</p>

	<p class="sentence">Max = C*W<sub>C</sub> / W<sub>T</sub> + 100% * W<sub>F</sub> / 100% = C*W<sub>C</sub> / W<sub>T</sub> + W<sub>F</sub> = Min + W<sub>F</sub></p>

	<p class="sentence">Thus the Max is simply the Min plus the Weight of the Final and inputting the percentages we get:</p>

	<p class="sentence">Max = 42% + 40% = <span class="bold">82%</span></p>

	{#<div style="margin-top:1em;text-align:center">
		{% if mobile %}
			<script id="mNCC" language="javascript">  medianet_width='300';  medianet_height= '250';  medianet_crid='971915716';</script>
		{% else %}
			<script id="mNCC" language="javascript">  medianet_width='600';  medianet_height= '250';  medianet_crid='101680409';</script>
		{% endif %}
		<script id="mNSC" src="http://contextual.media.net/nmedianet.js?cid=8CUUOA816" language="javascript"></script>
	</div>#}

	<h2 class="header2">Option 2: You Don't Know your Current Grade</h2>

	<p class="sentence">An example of our grade calculator for the case when you don’t know your Current Grade is shown below:</p>

	<img class="tutorial-img" width="100%" height="auto" title="Example of not knowing your current grade" src="{{ root_domain }}img/tutorial2.png" alt="A screenshot of our Grade Calculator for when you don't know your current grade is shown.">

	<p class="sentence">In this example, because the question "do you know your current grade?" is answered "no", an extra window appears which has a table that you can manually input all your course work grades and weights in terms of assignments, midterms, homework, labs, etc. Notice that when you input your scores, the grades automatically updates, and vice versa too if you input the grades then your scores automatically update too!</p>

	<p class="sentence">The only difference in this example from the example in Option 1 above is that the Current Grade and Weight of the Final are automatically calculated based on the course work that is inputted in the table. In this example, there are 4 assignments with grades 100%, 85%, 83.8%, and 75% along with their respective weights of 4%, 10%, 8%, and 20%.</p>

	<p class="sentence">The first calculation that is solved is the Weight of the Course Work, otherwise known earlier as the Weight of the Current Grade, W<sub>C</sub>, and that calculation is simply the sum of the weights of all the course work as shown below:</p>

	<p class="sentence">W<sub>C</sub> = W<sub>1</sub> + W<sub>2</sub> + W<sub>3</sub> + W<sub>4</sub> = (4 + 10 + 8 + 20) % = 42%</p>

	<p class="sentence">The Weight of the Final, W<sub>F</sub>, is calculated simply as the difference of the Total Weight, W<sub>T</sub>, and the Weight of the Current Grade:</p>

	<p class="sentence">W<sub>T</sub> = W<sub>C</sub> + W<sub>F</sub></p>

	<p class="sentence">Rearranging to solve for W<sub>F</sub> and inputting the percentages we get:</p>

	<p class="sentence">W<sub>F</sub> = W<sub>T</sub> - W<sub>C</sub> = 100% - 42% = <span class="bold">58%</span></p>

	<p class="sentence">The next calculation solved is Current Grade, C, which solved as the weighted average of all the course work as shown below where the course work grades and weights are abbreviated as G<sub>1</sub>, G<sub>2</sub>, G<sub>3</sub>, G<sub>4</sub> and W<sub>1</sub>, W<sub>2</sub>, W<sub>3</sub>, W<sub>4</sub>:</p>

	<p class="sentence">Dividing both sides by W<sub>C</sub> and inputting the percentages we obtain:</p>

	<p class="sentence">C = (G<sub>1</sub>*W<sub>1</sub> + G<sub>2</sub>*W<sub>2</sub> + G<sub>3</sub>*W<sub>3</sub> + G<sub>4</sub>*W<sub>4</sub> ) / W<sub>C</sub> = (100% * 4% + 85% * 10% + 83.8% * 8% + 75% * 20% ) / 42%</p>

	<p class="sentence">C ≈ <span class="bold">81.44%</span></p>

	<p class="sentence">Now that the Current Grade and Weight of the Final are calculated, the Final Exam Grade as well as the Min and Max possible grades are calculated in exactly the same way as in Option 1:</p>

	<p class="sentence">F = (D*W<sub>T</sub> - C*W<sub>C</sub> ) / W<sub>F</sub>  = (80% * 100% - 81.44% * 42%) / 58%</p>

	<p class="sentence">F ≈ <span class="bold">78.96%</span></p>

	<p class="sentence">Min = C*W<sub>C</sub> / W<sub>T</sub> = 70% * 60% / 100% = 81.44% * 42% / 100% ≈ <span class="bold">34.20%</span></p>

	<p class="sentence">Max = Min + W<sub>F</sub> = 34.2% + 58% ≈ <span class="bold">92.20%</span></p>

	<h2 class="header2">Bonus Part: Graph and Table of all Possible Course Grades</h2>

	<p class="sentence">A bonus feature of our grade calculator is a table and graph showing all the possible course grades you can end up with as well as the associated final exam grades needed. The graph and table can be viewed after calculating your final exam grade. The calculations used in the table and chart are the exact same as the ones we just solved above but the desired grade is a variable that changes throughout the table. For a more in depth tutorial on the graph and table in our grade calculator please check out the above embedded video tutorial. {#Also here is a <a class="link" href="">link to download</a> a Microsoft Excel spreadsheet version of the graph and table which you can play around with and use in how ever way you want!#}</p>

</div>
{% endblock %}