{% extends base %}
{% block extra_head %}
<script type="text/javascript" src="https://latex.codecogs.com/latexit.js"></script>
{% endblock %}

{% block extra_styles %}
	<style>
	.sentence {margin-top:0.5em; margin-bottom:0.5em;line-height:1.5}
	.header2 {font-size:1.1em; margin-top:1.3em;margin-bottom:0.5em;}
	.list {list-style-type: circle;}
	.list__indent {margin-left:2em;margin-top:0.2em;margin-bottom:0.2em;}
	.list__indent--extra {margin-left:4em;list-style-type:disc;}
	.latex {margin-top:0.3em;margin-bottom:0.3em;font-size:20px}
	{% if mobile %}
		.full-width .latex {width:100%}
		.sentence {font-size:0.9em;}
		.list__indent--extra,.list__indent {font-size:0.9em;}
	{% endif %}
	</style>
{% endblock %}

{% block page_content %}
<div id="main-content">
	<iframe style="border:none" width="100%" height="400" src="//www.youtube.com/embed/jM-0NyIbPt4" allowfullscreen></iframe>
	<p class="sentence">A mortgage loan is simply a loan taken where the house or property is used as collateral in case the borrower cannot pay off the loan in time. Payments are made periodically, usually monthly, and are most often times constant. This simplifies the finances of the borrower greatly. The process of paying off the loan is called amortization.
	</p>
	<p class="sentence">The basic amortization formula to determine the periodic payment amount when given the length of the loan, interest rate, and principle loan amount is shown below:</p>
	<div lang="latex">
	A = P\frac{i(1+i)^n}{(1+i)^n - 1}
	</div>
	<p class="sentence">
		where:
		<ul class="list">
			<li class="list__indent">A = periodic payment amount</li>
			<li class="list__indent">P = amount of principle or loan owing (subtracting any down-payments)</li>
			<li class="list__indent">i = period interest rate</li>
			<li class="list__indent--extra">NOTE: if installments are monthly and interest rate is annual, need to divide by 12</li>
			<li class="list__indent">n = total number of payments</li>
		</ul>
	</p>
	<p class="sentence">Another mortgage repayment strategy is to include a large lump sum often called a final balloon payment at the end of the mortgage term. The idea behind this strategy is to lower the monthly payment amount at the cost of increased overall interest that is paid by saving up to pay the final balloon payment. This strategy is recommended for personal home owners but for businesses revenue predictions that increase in the future this strategy may be viable. The mortgage amortization formula including the final balloon payment is shown below:</p>
	<div class="full-width" lang="latex">
	A = P\frac{i(1+i)^n}{(1+i)^n - 1} - \frac{iB}{(1+i)^{n+1} - (1+i)}
	</div>
	<p class="sentence">
		where:
		<ul class="list">
			<li class="list__indent">B = Final Balloon Payment</li>
			<li class="list__indent--extra">If the borrower wants to only amortize part of the loan or mortgage, they can decide to make constant payments, A, until a specific time and then pay off the remaining loan with one large payment, B.</li>
			<li class="list__indent--extra">If B = 0, then the amortization formula is the same as the basic one.</li>
		</ul>
	</p>
	<h2 class="header2">Derivation of the Basic Amortization Formula</h2>
	<p class="sentence">The derivation of the basic amortization formula is based on the requirements that the periodic payments and interest rate are constant over the length of the mortgage loan. If the interest rate is variable then the formula will still work but will have to be split into intervals of constant interest rates.</p>
	<p class="sentence">The interest is compounded periodically using the basic principles of Compound Interest. This basically means that during each period of payment, interest is added to the total principle loan amount that is still being payed. Thus the overall payment once the mortgage loan is fully paid off is usually substantially higher than the loan amount depending on the interest rate.</p>
	<p class="sentence">To begin the derivation, first let p(t) represent the principle amount owing or payment balance at time t:</p>
	<div lang="latex">
	p(0) = P = Initial ~ loan ~ amount
	</div>
	<div lang="latex">
	Thus, ~ p(0) ~ is ~ initial ~ balance
	</div>
	<p class="sentence">The balance at the first period after the first payment, A, is made must account for the added interest, p(0)i:</p>
	<div lang="latex">
	p(1) = p(0) + P(0)i - A
	</div>
	<div lang="latex">
	= p(0)(1+i) - A
	</div>
	<div lang="latex">
	= P(1+i) - A
	</div>
	<p class="sentence">And to simplify the derivation, let r = 1 + i so that:</p>
	<div lang="latex">
	P(1) = Pr - A
	</div>
	<p class="sentence">Similarly, for the balance at the second payment period we add interest from the balance of the first payment period:</p>
	<div lang="latex">
	p(2) = p(1) + p(1)i - A
	</div>
	<div lang="latex">
	= p(1)(1+i) - A
	</div>
	<div lang="latex">
	= p(1)r - A = [Pr - A]r - A
	</div>
	<div lang="latex">
	= Pr^2 - Ar - A
	</div>
	<div lang="latex">
	= Pr^2 - A(1+r)
	</div>
	<p class="sentence">Now there starts appearing a pattern and can extend this to a general payment period at time t:</p>
	<div lang="latex">
	p(3) = p(2)r - A
	</div>
	<div lang="latex">
	= Pr^3 - Ar^2 - Ar - A
	</div>
	<div lang="latex">
	= Pr^3 - A(1+r+r^2)
	</div>
	<div lang="latex">
	...
	</div>
	<div lang="latex">
	p(t) = p(t-1)r - A
	</div>
	<div lang="latex">
	= Pr^t - A(1 + r + r^2 + ... + r^{t-1})
	</div>
	<p class="sentence">It is important to note that the term in the above equation, 1+r+r^2+⋯+r^(t-1), is a Geometric Series and can be written by the formula below (the proof can be found here: <a class="link" target="_blank" href="https://en.wikipedia.org/wiki/Geometric_series">Geometric Series Proof</a>):</p>
	<div lang="latex">
	1 + r + r^2 + ... + r^{t-1}
	</div>
	<div lang="latex">
	= \sum\limits_{t=1}^t r^{k-1} = \frac{1-r^t}{1-r}
	</div>
	<p class="sentence">Thus we can rewrite the equation for the balance at any time t:</p>
	<div lang="latex">
	p(t) = Pr^t - A\frac{1-r^t}{1-r}
	</div>
	<p class="sentence">At the end of the term, at t=n, the mortgage loan is fully paid off thus the final balance is zero. This means that the above equation can be rearrange to solve for the monthly payment, A:</p>
	<div lang="latex">
	p(n) = 0 = Pr^n - A\frac{1-r^n}{1-r}
	</div>
	<div lang="latex">
	A\frac{1-r^n}{1-r} = Pr^n
	</div>
	<div lang="latex">
	A = Pr^n\frac{1-r}{1-r^n}
	</div>
	<p class="sentence">Now we can replace r with 1 + r to get:</p>
	<div lang="latex">
	A = P(1+i)^n\frac{1 - (1+i)}{1-(1+i)^n}
	</div>
	<div lang="latex">
	=P(1+i)^n\frac{-i}{1-(1+i)^n}
	</div>
	<p class="sentence">Now rearranging the equation by multiplying by -1/-1 to get rid of the negative sign in the numerator, we finally get the basic mortgage amortization formula:</p>
	<div lang="latex">
	A = P\frac{i(1+i)^n}{(1+i)^n - 1}
	</div>
	<h2 class="header2">Derivation of the Mortgage Amortization Formula including Balloon Payment</h2>
	<p class="sentence">If the mortgage repayment strategy includes a final balloon payment, the only difference in derivation is that the final balance at the end of the term, p(n) is not fully paid off and thus is not equal to zero. Also it is important to note that the final balloon payment also includes the interest added from the final balance. Thus the final balloon payment is equal to the final balance, p(n), plus interest added to p(n):</p>
	<div lang="latex">
	B = p(n) + p(n)i = p(n)(1+i)
	</div>
	<p class="sentence italic">It is important to note that the actual final payment to be made is the balloon payment plus the interest added to the previous balance, thus tual final payment = B + p(n)i.</p>
	<p class="sentence">Now in simplifying this derivation we will replace 1+i with r and use the equation for p(n) that is written in term of r as well as rearrange the equation to solve for the periodic payment, A:</p>
	<div lang="latex">
	B = p(n)r
	</div>
	<div lang="latex">
	\frac{B}{r} = p(n) = Pr^n - A\frac{1-r^n}{1-r}
	</div>
	<div lang="latex">
	A\frac{1-r^n}{1-r} = Pr^n - \frac{B}{r}
	</div>
	<div lang="latex">
	A = Pr^n\frac{1-r}{1-r^n} - \frac{B}{r}\frac{1-r}{1-r^n}
	</div>
	<p class="sentence">Now we can replace r with 1+i and notice that the first part of the above equation is just simply the basic amortization formula, thus we get:</p>
	<div class="full-width" lang="latex">
	A = P\frac{i(1+i)^n}{(1+i)^n - 1} - B\frac{1-(1+i)}{(1+i)(1-(1+i)^n)}
	</div>
	<div class="full-width" lang="latex">
	A = P\frac{i(1+i)^n}{(1+i)^n - 1} - B\frac{-i}{(1+i)-(1+i)^{n+1}}
	</div>
	<p class="sentence">Now to further simplify the equation, we multiply the second term by -1/-1 to remove one of the negative signs so the formula visually shows that the periodic payment is lower when there is a final balloon payment. Thus, finally we have the mortgage amortization formula including the final balloon payment:</p>
	<div class="full-width" lang="latex">
	A = P\frac{i(1+i)^n}{(1+i)^n - 1} - \frac{iB}{(1+i)^{n+1}-(1+i)}
	</div>
	<p class="sentence">It is important to note that if B = 0, then the above equation simply becomes the basic amortization formula. Also while this formula is often used for mortgage related purpose, this same formula can be used for other debt or loans such as short terms loans, student loans, and credit cards since they all follow the same concept of compounded interest. Also it is possible to rearrange the formula to solve for B, P, and n but solving for i are done through numerical methods and are not as straight forward.:</p>
</div>
{% endblock %}