{% extends base %}
{% block extra_head %}
<script type="text/javascript" src="https://latex.codecogs.com/latexit.js"></script>
{% endblock %}

{% block extra_styles %}
	<style>
	.sentence {margin-top:0.5em; margin-bottom:0.5em;line-height:1.5}
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; cursor: pointer;}
    .hover:hover {background-color: #1b6e34;color:white;cursor: pointer;}
    </style>
{% endblock %}

{% block page_content %}
<div id="main-content">
	<p class="sentence">Click the links below to view each formula!</p>
	<a href="{{ root_domain }}amortization-formula"><div class="button hover">Mortgage Amortization Formula</div></a>
	<a href="{{ root_domain }}balloon-payment-formula"><div class="button hover">Mortgage Amortization Formula (with Balloon Payment)</div></a>
	<a href="{{ root_domain }}amortization-formula-proof"><div class="button hover">Amortization Formula Proof</div></a>
</div>
{% endblock %}