{% extends base %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ root_domain }}js/calculator.js"></script>
{% endblock %}

{% block extra_styles %}
	<style>
	.result {border:2px solid {{ dark_color }}; padding:1em;}
	.result--result { text-decoration:underline;}
	.span {font-weight: 700;}
	.basic-table--less-bottom {margin-bottom: 0.5em;}
	.basic-table--fixed {table-layout: fixed;}
	.total-row {background-color: #d2d2d2}
	.light-grey {background-color: #ededed}
	.chosen-select {display: inline-block;}
	.select--pokemon {width: 100%; font-size: 1.2em; padding:0.3em; margin-bottom: 0.5em;}
	{#.select--pokemon {color: {{dark_color}};}
	.select--pokemon option:not(:first-child) {color: black;}#}
	{% if mobile %}
	.input {width:75%;}
	.select {display: inline-block;}
	.basic-table {font-size: 0.8em;}
	.basic-table td, .basic-table th {padding:0.4em;}
	{% else %}
	.select {width:100%;font-size: 1em;}
	.input {height:1.4em;}
	{% endif %}

	</style>

{% endblock %}

{% block page_content %}
<div id="main-content">

	<table id="pokemon-table" class="basic-table basic-table--full basic-table--less-bottom">

		<tr>
			<th>Pokemon</th>
			<th>Pokemon Amount</th>
			<th>Candy Amount</th>
			<th>Transfer Evolved Pokemon?</th>
		</tr>
		<tr data-value="12">
			<td>Caterpie</td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><select class="select input"><option value="1">Yes</option><option selected value="0">No</option></select class="input"></td>
		</tr>
		<tr data-value="12">
			<td>Pidgey</td>
			<td><input class="input" type="number" min="0" step="1"></td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><select class="select input"><option value="1">Yes</option><option selected value="0">No</option></select class="input"></td>
		</tr>
		<tr data-value="12">
			<td>Weedle</td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><select class="select input"><option value="1">Yes</option><option selected value="0">No</option></select class="input"></td>
		</tr>

		<tr data-value="25">
			<td>Eevee</td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><select class="select input"><option value="1">Yes</option><option selected value="0">No</option></select class="input"></td>
		</tr>
		<tr data-value="25">
			<td>Rattata</td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><select class="select input"><option value="1">Yes</option><option selected value="0">No</option></select class="input"></td>
		</tr>
		<tr data-value="25">
			<td>Oddish</td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><select class="select input"><option value="1">Yes</option><option selected value="0">No</option></select class="input"></td>
		</tr>

		<tr data-value="50">
			<td>Drowzee</td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><select class="select input"><option value="1">Yes</option><option selected value="0">No</option></select class="input"></td>
		</tr>
		<tr data-value="50">
			<td>Spearow</td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><select class="select input"><option value="1">Yes</option><option selected value="0">No</option></select class="input"></td>
		</tr>
		<tr data-value="50">
			<td>Zubat</td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><input class="input" type="number" min="0" step="1"></td></td>
			<td><select class="select input"><option value="1">Yes</option><option selected value="0">No</option></select class="input"></td>
		</tr>
	</table>

	<select id="add-another-pokemon-button" class="select--pokemon">
		<option value="0" disabled selected>Add another Pokemon...</option>
        <optgroup label="12 Candies">
        	<option value="12" disabled>Caterpie</option>
            <option value="12" disabled>Pidgey</option>
            <option value="12" disabled>Weedle</option>
        </optgroup>
        <optgroup label="25 Candies">
        	<option value="25">Abra</option>
			<option value="25">Bellsprout</option>
			<option value="25">Bulbasaur</option>
			<option value="25">Charmander</option>
			<option value="25">Dratini</option>
			<option value="25" disabled>Eevee</option>
			<option value="25">Gastly</option>
			<option value="25">Geodude</option>
			<option value="25">Machop</option>
			<option value="25">Nidoran ♀</option>
			<option value="25">Nidoran ♂</option>
			<option value="25" disabled>Oddish</option>
			<option value="25">Poliwag</option>
			<option value="25" disabled>Rattata</option>
			<option value="25">Squirtle</option>
        </optgroup>
        <optgroup label="50 Candies">
            <option value="50">Clefairy</option>
            <option value="50">Cubone</option>
            <option value="50">Diglett</option>
            <option value="50">Doduo</option>
            <option value="50" disabled>Drowzee</option>
            <option value="50">Ekans</option>
            <option value="50">Exeggcute</option>
            <option value="50">Goldeen</option>
            <option value="50">Grimer</option>
            <option value="50">Growlithe</option>
            <option value="50">Horsea</option>
            <option value="50">Jigglypuff</option>
            <option value="50">Kabuto</option>
            <option value="50">Kakuna</option>
            <option value="50">Koffing</option>
            <option value="50">Krabby</option>
            <option value="50">Magnemite</option>
            <option value="50">Mankey</option>
            <option value="50">Meowth</option>
            <option value="50">Metapod</option>
            <option value="50">Omanyte</option>
            <option value="50">Paras</option>
            <option value="50">Pidgeotto</option>
            <option value="50">Pikachu</option>
            <option value="50">Ponyta</option>
            <option value="50">Psyduck</option>
            <option value="50">Rhyhorn</option>
            <option value="50">Sandshrew</option>
            <option value="50">Seel</option>
            <option value="50">Shellder</option>
            <option value="50">Slowpoke</option>
            <option value="50" disabled>Spearow</option>
            <option value="50">Staryu</option>
            <option value="50">Tentacool</option>
            <option value="50">Venonat</option>
            <option value="50">Voltorb</option>
            <option value="50">Vulpix</option>
            <option value="50" disabled>Zubat</option>
        </optgroup>
        <optgroup label="100 Candies">
            <option value="100">Charmeleon</option>
            <option value="100">Dragonair</option>
            <option value="100">Gloom</option>
            <option value="100">Graveler</option>
            <option value="100">Haunter</option>
            <option value="100">Ivysaur</option>
            <option value="100">Kadabra</option>
            <option value="100">Machoke</option>
            <option value="100">Nidorina</option>
            <option value="100">Nidorino</option>
            <option value="100">Poliwhirl</option>
            <option value="100">Wartortle</option>
            <option value="100">Weepinbell</option>
        </optgroup>
        <optgroup label="400 Candies">
            <option value="400">Magikarp</option>
        </optgroup>
	</select>

	<p class="sentence">When activating a Lucky Egg, your experience gain is DOUBLED for <span class="span">30 minutes</span> so it is most efficient to use up as much of the <span class="span">30 minutes</span> as possible!</p>
	<p id="result" class="result sentence hide"></p>
	<table id="pokemon-result-table" class="basic-table basic-table--full basic-table--fixed"></table>
	<p id="result2" class="result sentence hide"></p>
	
</div>
{% endblock %}