* {
    font-family: "Fira Sans", "Helvetica", "Arial", "sans-serif";
}
body {
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
}
#links {
	font-size: 0;
}

#links a {
	text-decoration: none;
}

#links img {
	height: 120px;
	width: 120px;
	margin: 1px;
}

.container-fluid {
	max-width: 1006px;
	padding-top: 50px;
	padding-bottom: 100px;
}
h1 {
	background-color: #0096DA;
	padding: 10px;
	margin: 10px 0;
	color: white;
	text-shadow: 1px 1px 0 #000;
	font-size: 4vw;
}

.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}
.title {
	text-shadow: 1px 1px 0 #000 !important;
}
canvas {
	display: block;
	position: absolute;
	z-index: -1;
}

@media screen and (min-width: 1200px) {
  h1 {
     font-size: 36px;
  }
}

@media screen and (max-width: 900px) {
  .container-fluid {
  	padding: 5px 10px 50px 10px;
  }
}

.prev, .next, .close {
	color: white !important;
}