.calculator-header {font-size: 1.1em;margin-bottom:0.6em;}
#main-content #left-side-container input,#main-content #bottom-container input {height:2em;width:7em;font-size: 1em;text-align: center;}
#page-description a {color: #428bca;font-weight: 400;}
#page-description a:hover {color:#4c6496;text-decoration: underline;}

#main-content #left-side-container #result,#main-content #bottom-container #result {width:10em;}
.button-switch {text-align: center;display:table;width:100%;margin-bottom: 1em;}
.button-switch div {display:table-cell;width:50%;cursor:pointer;}
.button-switch .left-button {border-right-width:0.0625em; }
.button-switch .right-button {border-left-width:0.0625em; }
.active-button {background-color:#84bc41;color:white;}

.graph-table-container {text-align: center;display:none;}
.graph-button, .graph-table-button {display:inline-block;width:45%;cursor:pointer;}
.graph-button {margin-right:0.5em;}
.graph-table-button {margin-left:0.5em;}

.ass-tag {display: none;margin-bottom:0.7em;}
#main-content #radiobuttons input {width:1em;height:1em;}
#main-content #radiobuttons input:last-of-type {margin-left:1em;}
.input-row {margin:0.5em 0;position: relative;}
#left-side-container {display:table-cell;padding-right:2em;border-right: 0.15em solid #e1e1e1;width:16em;}
#input-div input {margin-left:0.3em;}
.height-div {margin-top: 0.5em;}
#input-div span {display: inline-block;width:9em;font-size: 1em;font-weight: 100;}
#bottom-container .height-div input:last-child {margin-left:0.5em;}
#bottom-container {margin-top:1.2em;}
#right-side-container {display: table-cell;padding-left:2em;}
#right-side-container p {line-height: normal;}
#result-input-container {display: table-cell;}
#result-input-container input {display: block;background-color: #EEEEEE;border: 0.0625em #b2b2b2 solid;}
#check-mark-container {display: none;vertical-align: middle;}
#check-mark-container img {height: 2em;	width: auto;display: block;margin-left:1.2em;}
#result-text {color:black;margin:0.8em 0;line-height: 1.3;font-style: italic;font-weight: 100;}
#result-text span {font-weight: 700;}
#result-categories-container {margin-top:0.8em;}
#result-categories-container span {font-weight: 700;}
.category {line-height: 1.5;font-weight: 100;}
/*#note {line-height: 1.2;font-weight: 100;margin-top: 1.2em;display: inline-block;}*/
#note {line-height: 1.2;font-weight: 100;display: inline-block;}
#note span {line-height: 1.2;font-weight: 700;}

.hover:hover {background-color: #84bc41;color:white;}
.add-course-button {cursor: pointer;}

#main-content table {width:100%;}
#main-content table input {height:1.5em;width:80%;font-size: 1em;text-align: center;border:none;}
#main-content table select {width:80%;height:1.6em;font-size: 1em;}

#right-side-container img {width:1.1em;height:1.1em;vertical-align: text-bottom;}
#right-side-container img {cursor: pointer;}
#main-content table th {font-weight:normal;padding-top:0.35em;padding-bottom:0.35em;background-color: #e2e2e2;border-bottom:0.125em solid #333333;}
#main-content table td {padding:0.25em 0.5em;text-align: center;font-weight: normal;}
#main-content table td:not(:last-child) {border-right:0.125em solid #333333;}
#main-content table th:nth-child(2) {padding:0.25em 1em;width:50%;}
#main-content table th:nth-child(3) {padding:0.25em 1em;width:50%;}
#main-content table th:nth-child(4) {padding:0.25em 1em;width:50%;}
#main-content table th:not(:last-child) {border-right:0.125em solid #333333;}
#main-content table tr:not(:last-child) td{border-bottom:0.125em solid #333333;}

.display-none {display:none;}
