RewriteEngine on
RewriteCond %{HTTP_HOST} ^percentcalculator\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.percentcalculator\.com$
RewriteRule ^(.*)$ "https\:\/\/percentagecalculator\.mes\.fm\/$1" [R=301,L]