{% extends base %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block page_content %}
	<div id="main-content">
		<script type="text/javascript">
		(function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/b/a/baf9af76e58153d72e3de069d673f795/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
		</script>
		<div id="zbwid-4d9973a2"></div>
	</div>
{% endblock %}

{% block comments %}{% endblock %}
{% block disqus_script %}{% endblock %}