<div id="footer" class="footer">
    {% if mobile %}
        <ul>
            <li><a class="footer__text" href="https://mes.fm/calculators">Calculators</a></li>
            <li><a class="footer__text" href="https://mes.fm/tools">Tools</a></li>
            <li><a class="footer__text" href="https://mes.fm/mobile-apps">Mobile Apps</a></li>
            <li><a class="footer__text" href="https://mes.fm/partners">Partners</a></li>
            <li><a class="footer__text" target='_blank' href="https://teespring.com/stores/mes-store">Store</a></li>
            <li><a class="footer__text" href="{{ root_domain }}contact">Contact Us</a></li>
            <li><a class="footer__text" href="{{ root_domain }}privacy-policy">Privacy Policy</a></li>
            <li><a class="footer__text" target='_blank' href="https://mes.fm/donate">Donate</a></li>
            <li><span class="footer__text social__text--white">Follow us!</span>{% block social %}{% include 'social.twig' %}{% endblock %}</li>
            <li><span class="footer__text footer__text--black desktop-version-button">Desktop Version</span></li>
            <li><span class="footer__text footer__text--inline">Copyright &copy; 2013&nbsp;</span><a class="footer__text footer__text--inline" href="https://mes.fm">Math Easy Solutions</a></li>
        </ul>
    {% else %}
        <div class="footer__item-container">
            <div class="footer__item">
                <a class="footer__text footer__text--title" href="https://mes.fm/calculators">Calculators</a>
                <ul class="footer__list">
                    <li><a class="footer__text" href='https://bmicalculator.mes.fm'>BMI Calculator</a></li>
                    <li><a class="footer__text" href='https://gpacalculator.mes.fm'>GPA Calculator</a></li>
                    <li><a class="footer__text" href='https://gradecalculator.mes.fm'>Grade Calculator</a></li>
                    <li><a class="footer__text" href='https://inflationcalculator.mes.fm'>Inflation Calculator</a></li>
                    <li><a class="footer__text" href='https://mortgagecalculator.mes.fm'>Mortgage Calculator</a></li>
                    <li><a class="footer__text" href='https://percentagecalculator.mes.fm'>Percentage Calculator</a></li>
                    <li><a class="footer__text" href='https://pokemongocalculator.mes.fm'>Pokemon Go Calculator</a></li>
                    <li><a class="footer__text" href='https://vatcalculator.mes.fm'>VAT Calculator</a></li>
                    {% if not show_ads %}
                        <li><a class="footer__text" href='https://youtubemoney.mes.fm'>YouTube Money Calculator</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer__item">
                <a class="footer__text footer__text--title" href="https://mes.fm/tools">Tools</a>
                <ul class="footer__list">
                    <li><a class="footer__text" href='https://speedreader.mes.fm'>Speed Reader</a></li>
                    <li><a class="footer__text" href='https://timer.mes.fm'>Timer</a></li>
                </ul>
            </div>

            <div class="footer__item footer__item--extra-padding">
                <a class="footer__text footer__text--title" href="https://mes.fm/mobile-apps">Mobile Apps</a>
                <ul class="footer__list">
                    <li><a class="footer__text" target="_blank" href="https://itunes.apple.com/ca/app/bmi-calculator-by-mes/id1226817243">BMI Calculator (iOS)</a></li>
                    <li><a class="footer__text" target="_blank" href="https://play.google.com/store/apps/details?id=com.mike.bmiCalculator">BMI Calculator (Android)</a></li>
                    <li><a class="footer__text" target="_blank" href="https://itunes.apple.com/ca/app/fail-safe-final-exam-calculator/id673084580">Grade Calculator (iOS)</a></li>
                    <li><a class="footer__text" target="_blank" href="https://play.google.com/store/apps/details?id=com.mike.failsafefinalexamcalculator">Grade Calculator (Android)</a></li>
                    <li><a class="footer__text" target="_blank" href="https://itunes.apple.com/ca/app/percentage-calculator-by-math/id1141583865">Percentage Calculator (iOS)</a></li>
                    <li><a class="footer__text" target="_blank" href="https://play.google.com/store/apps/details?id=com.mike.percentageCalculator">Percentage Calculator (Android)</a></li>
                    <li><a class="footer__text" target="_blank" href="https://play.google.com/store/apps/details?id=com.mike.mortgageCalculator">Mortgage Calculator (Android)</a></li>
                    <li><a class="footer__text" target="_blank" href="https://itunes.apple.com/ca/app/hashtag-everything-lite/id739573482">Hashtag Everything (iOS)</a></li>
                    <li><a class="footer__text" target="_blank" href="https://play.google.com/store/apps/details?id=com.mike.HashtagEverythingLite">Hashtag Everything (Android)</a></li>
                    <li><a class="footer__text" target="_blank" href="https://itunes.apple.com/ca/app/doge-bounce/id850547912?mt=8">Doge Bounce (iPhone)</a></li>
                    <li><a class="footer__text" target="_blank" href="https://play.google.com/store/apps/details?id=com.dogetile.android">Doge Tile (Android)</a></li>
                </ul>
            </div>

            <div class="footer__item footer__item--extra-padding">
                <a class="footer__text footer__text--title" href="https://mes.fm/partners">Partners</a>
                <ul class="footer__list">
                    <li><a class="footer__text" target="_blank" href="https://chinchatcomics.mes.fm" title="Chinchilla Comics Galore">Chin Chat Comics</a></li>
                </ul>
            </div>
        </div>
        <a class="footer__text" target='_blank' href="https://teespring.com/stores/mes-store">Store</a><span class="footer__separator"> | </span>
        <a class="footer__text" href="{{ root_domain }}contact">Contact Us</a><span class="footer__separator"> | </span>
        <a class="footer__text" href="{{ root_domain }}privacy-policy">Privacy Policy</a><span class="footer__separator"> | </span>
        <a class="footer__text" target='_blank' href="https://mes.fm/donate">Donate</a><span class="footer__separator"> | </span>
        <span class="footer__text footer__text--black mobile-version-button">Mobile Version</span>
        <div class="footer__text--extra-info"><span class="footer__text footer__text--copyright">Copyright &copy; 2013&nbsp;</span><a class="footer__text" href="https://mes.fm">Math Easy Solutions</a></div>
    {% endif %}
</div>


