{% extends base %}

{% block resp_vert %}{% endblock %}

{% block page_content %}
<div id="main-content">
	<div id="cse-search-results"></div>
	<script type="text/javascript">
	  var googleSearchIframeName = "cse-search-results";
	  var googleSearchFormName = "cse-search-box";
	  var googleSearchFrameWidth = 860;
	  var googleSearchDomain = "www.google.com";
	  var googleSearchPath = "/cse";
	</script>
	<script type="text/javascript" src="https://mes.fm/main_js/search.js"></script>
</div>
{% endblock %}