{% extends base %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block extra_styles %}
	<style>
	.tbl {width:100%;table-layout: fixed;}
	.calc-row {border-bottom: 0.4em solid transparent;}
	.calc-link {display: block;border: 0.15em solid #d4d4d4;padding:0.4em;position:relative;}
	.calc__img-container,.calc__text {display: table-cell;vertical-align: middle;}
	.calc__img {margin-right: 0.4em;display: block;}
	.calc__text--title {display:block;margin-bottom:1em;font-size:1.1em;}
	.calc__text--desc {font-size:0.9em;color: #666666;}
	{% if mobile %}
	.calc-row {border-bottom: 0;}
	.calc-container {display: block;border-bottom: 0.4em solid transparent;}
	.calc-container--last {border-bottom: 0;}
	.calc__text--title {font-size: 1em;}
	{% else %}
	.calc-container:not(:last-child) {border-right:0.4em solid transparent;}
	.calc-link:hover {border-color: {{ dark_color }};}
	{% endif %}
	</style>
{% endblock %}

{% block vertical_side_ad %}
	{% if side_media_net %}
		  <!--
		  ~ Copyright (C) 2014 Media.net Advertising FZ-LLC All Rights Reserved
		  -->
		<div id="515808756">
		  	<script type="text/javascript">
			  try {
				   window._mNHandle.queue.push(function () {
				   	window._mNDetails.loadTag("515808756", "300x600", "515808756");
				  	});
				  }
			  catch (error) {}
			</script>
		</div>
	{% endif %}
{% endblock %}

{% block page_content %}
	<div id="main-content">
		<table class="tbl">
			<tr class="calc-row">
				<td class="calc-container"><a class="calc-link" href="https://bmicalculator.mes.fm">
					<div class="calc__img-container"><img class="calc__img" src="img/bmi-logo.png" alt="bmi calculator logo" width="88" height="88"></div>
					<div class="calc__text">
						<span class="calc__text--title">BMI Calculator</span>
						<span class="calc__text--desc">Calculate your BMI (Body Mass Index) using your height and weight.</span>
					</div></a>
		        </td>
		        <td class="calc-container"><a class="calc-link" href="https://percentagecalculator.mes.fm">
		            <div class="calc__img-container"><img class="calc__img" src="img/pc-logo.png" alt="percentage calculator logo" width="88" height="88"></div>
		            <div class="calc__text">
			            <span class="calc__text--title">Percentage Calculator</span>
			            <span class="calc__text--desc">Calculate various percentages and convert ratios to percentages.</span>
			        </div></a>
		        </td>
		    </tr>
		    <tr class="calc-row">
		      	<td class="calc-container"><a class="calc-link" href="https://gradecalculator.mes.fm">
		            <div class="calc__img-container"><img class="calc__img" src="img/gc-logo.png" alt="grade calculator logo" width="88" height="88"></div>
		              <div class="calc__text">
			              <span class="calc__text--title">Grade Calculator</span>
			              <span class="calc__text--desc">Calculate what you need on your exam to to pass the course.</span>
			          </div></a>
		    	</td>
		        <td class="calc-container"><a class="calc-link" href="https://gpacalculator.mes.fm">
		            <div class="calc__img-container"><img class="calc__img" src="img/gpa-logo.png" alt="gpa calculator logo" width="88" height="88"></div>
		            <div class="calc__text">
			            <span class="calc__text--title">GPA Calculator</span>
			            <span class="calc__text--desc">Calculate your GPA using your letter grades or percentages.</span>
			        </div></a>
		        </td>
		    </tr>
		    <tr class="calc-row">
		      	<td class="calc-container"><a class="calc-link" href="https://youtubemoney.mes.fm/">
		            <div class="calc__img-container"><img class="calc__img" src="img/ymc-logo.png" alt="youtube money calculator logo" width="88" height="88"></div>
		              <div class="calc__text">
			              <span class="calc__text--title">Youtube Money Calculator</span>
			              <span class="calc__text--desc">Calculate how much money you can make from YouTube.</span>
			          </div></a>
		        </td>
		        <td class="calc-container"><a class="calc-link" href="https://mortgagecalculator.mes.fm">
		            <div class="calc__img-container"><img class="calc__img" src="img/mc-logo.png" alt="mortgage calculator logo" width="88" height="88"></div>
		              <div class="calc__text">
			              <span class="calc__text--title">Mortgage Calculator</span>
			              <span class="calc__text--desc">Calculate your Monthly Mortgage Payment.</span>
			          </div></a>
		        </td>
		   	</tr>
		    <tr class="calc-row">
		      	<td class="calc-container"><a class="calc-link" href="https://inflationcalculator.mes.fm">
		            <div class="calc__img-container"><img class="calc__img" src="img/ic-logo.png" alt="inflation calculator logo" width="88" height="88"></div>
		            <div class="calc__text">
			            <span class="calc__text--title">Inflation Calculator</span>
			              <span class="calc__text--desc">Calculate a country's inflation rate within two different years.</span>
			          </div></a>
		        </td>
		        <td class="calc-container"><a class="calc-link" href="https://gradecalculator.mes.fm/weighted-average-calculator">
		            <div class="calc__img-container"><img class="calc__img" src="img/wac-logo.png" alt="weighted average calculator logo" width="88" height="88"></div>
		              <div class="calc__text">
			              <span class="calc__text--title">Weighted Average Calculator</span>
			              <span class="calc__text--desc">Calculate your weighted average course grade.</span>
			          </div></a>
		        </td>
		    </tr>
		    <tr class="calc-row">
		      	<td class="calc-container"><a class="calc-link" href="https://vatcalculator.mes.fm">
		            <div class="calc__img-container"><img class="calc__img" src="img/vat-logo.png" alt="vat calculator logo" width="88" height="88"></div>
		              <div class="calc__text">
			              <span class="calc__text--title">VAT Calculator</span>
			              <span class="calc__text--desc">Calculate a VAT (Value Added Tax) after adding or removing tax.</span>
			          </div></a>
		        </td>
		        <td class="calc-container"><a class="calc-link" href="https://gradecalculator.mes.fm/br">
		            <div class="calc__img-container"><img class="calc__img" src="img/gc-logo.png" alt="logotipo calculadora grau" width="88" height="88"></div>
		              <div class="calc__text">
			              <span class="calc__text--title">Calculadora Nota Final</span>
			              <span class="calc__text--desc">Calcule o que você precisa em seu exame para passar o curso.</span>
			          </div></a>
		        </td>
		    </tr>
		    <tr>
		      	<td class="calc-container"><a class="calc-link" href="https://pokemongocalculator.mes.fm">
		            <div class="calc__img-container"><img class="calc__img" src="img/pgc-logo.png" alt="pokemon go calculator logo" width="88" height="88"></div>
		              <div class="calc__text">
			              <span class="calc__text--title">Pokemon Go Calculator</span>
			              <span class="calc__text--desc">Calculate how many pokemon you need to transfer before using your lucky egg.</span>
			          </div></a>
		        </td>

		    </tr>
		</table>

		{% if mobile %}
			<div style="margin:1em 0;text-align:center;">
				  <!--
				  ~ Copyright (C) 2014 Media.net Advertising FZ-LLC All Rights Reserved
				  -->
				<div id="436881914" style="display:inline-block">
				  	<script type="text/javascript">
					  try {
						   window._mNHandle.queue.push(function () {
						   	window._mNDetails.loadTag("436881914", "300x250", "436881914");
						  	});
						  }
					  catch (error) {}
					</script>
				  </div>
			</div>
		{% endif %}
	</div>
{% endblock %}