{% extends base %}

{% block ad_block_message %}{% endblock %}
{% block ad_block_script %}{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block extra_styles %}
	<style>
	{% if mobile %}
	.header2 {
		font-size: 0.9em;
		word-wrap: break-word;
	}
	{% endif %}
	</style>
{% endblock %}

{% block page_content %}
	<div id="main-content">
		<p class="header2"><strong>Coinbase: </strong><a href="https://www.coinbase.com/join/599092fecdaf8e01315dd043" target="_blank" class="link">https://www.coinbase.com/join/599092fecdaf8e01315dd043</a></p>
		<p class="header2"><strong>Quadriga: </strong><a href="https://www.quadrigacx.com/?ref=nkdn9z4y5me30g2vx8pe93ce" target="_blank" class="link">https://www.quadrigacx.com/?ref=nkdn9z4y5me30g2vx8pe93ce</a></p>
		<p class="header2"><strong>Kucoin: </strong><a href="https://www.kucoin.com/#/?r=1yaPf" target="_blank" class="link">https://www.kucoin.com/#/?r=1yaPf</a></p>
	</div>
{% endblock %}