{% extends base %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block extra_styles %}
	<style>
	.tbl {width:100%;table-layout: fixed;}
	.calc-row {border-bottom: 0.4em solid transparent;}
	.calc-link {display: block;border: 0.15em solid #d4d4d4;padding:0.4em;position:relative;}
	.calc__img-container,.calc__text {display: table-cell;vertical-align: middle;}
	.calc__img {margin-right: 0.4em;display: block;}
	.calc__text--title {display:block;margin-bottom:1em;font-size:1.1em;}
	.calc__text--desc {font-size:0.9em;color: #666666;}
	{% if mobile %}
	.calc-row {border-bottom: 0;}
	.calc-container {display: block;border-bottom: 0.4em solid transparent;}
	.calc-container--last {border-bottom: 0;}
	.calc__text--title {font-size: 1em;}
	{% else %}
	.calc-container:not(:last-child) {border-right:0.4em solid transparent;}
	.calc-link:hover {border-color: {{ dark_color }};}
	{% endif %}
	</style>
{% endblock %}

{% block resp_horiz_mobile %}{% endblock %}

{% block page_content %}
	<div id="main-content">
		<table class="tbl">
			<tr class="calc-row">
				<td class="calc-container"><a class="calc-link" href="https://speedreader.mes.fm/">
					<div class="calc__img-container"><img class="calc__img" src="img/speedreader-logo.png" alt="speedreader logo" width="88" height="88"></div>
					<div class="calc__text">
						<span class="calc__text--title">Speed Reader</span>
						<span class="calc__text--desc">Increase your reading speed!</span>
					</div></a>
		        </td>
				<td class="calc-container calc-container--last"><a class="calc-link" href="https://timer.mes.fm/">
					<div class="calc__img-container"><img class="calc__img" src="img/timer-logo.png" alt="timer logo" width="88" height="88"></div>
					<div class="calc__text">
						<span class="calc__text--title">Timer</span>
						<span class="calc__text--desc">Online timer that also shows up on the browser tab, stopwatch, alarm clock and more!</span>
					</div></a>
		        </td>
		    </tr>
		 </table>
	</div>
{% endblock %}