{% extends base %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ root_domain }}js/calculator.js?v=1.1"></script>
{% endblock %}

{% block extra_styles %}
	<style>
	.calculator-header {font-size: 1.1em;margin-bottom:1em;margin-top:0.5em;}
	#main-content #left-side-container input {height:2em;width:9em;font-size: 1em;text-align: center;}

	#main-content #left-side-container #result,#main-content #left-side-container #result-2 {width:10em;}
	.button-switch {text-align: center;display:table;width:100%;margin-bottom: 1em;}
	.add-button, .remove-button {display:table-cell;width:50%;cursor:pointer;}
	.add-button {border-right-width:0.0625em; }
	.remove-button {border-left-width:0.0625em; }
	.active-button {background-color:#dbbd3d;color:white;}

	.input-row {margin:0.5em 0;position: relative;}
	#left-side-container {display:table-cell;padding-right:2em;width:21em;}
	#input-div input {margin-left:0.3em;}
	.height-div {margin-top: 0.5em;}
	#input-div span {display: inline-block;width:9em;font-size: 1em;font-weight: 400;}
	#bottom-container .height-div input:last-child {margin-left:0.5em;}
	#bottom-container {margin-top:1.2em;}
	#result {margin-bottom:1.2em;margin-top: 1em;}
	.result-input-container input {display: block;background-color: #EEEEEE;border: 0.0625em #b2b2b2 solid;}
	#result-text {color:black;margin-top:0.8em;line-height: 1.3;font-style: italic;font-weight: 400;}
	#result-text span {font-weight: 700;}
	#note {line-height: 1.2;font-weight: 400;display: inline-block;}
	#note span {line-height: 1.2;font-weight: normal;}
	{% if mobile %}
		#input-div span {width:7.5em;}
		#input-div input {margin-top:0.5em;margin-left:0;}
		#main-content #left-side-container input {width:8em;}
	{% endif %}
	</style>
{% endblock %}

{% block page_content %}
<div id="main-content">
	<div id="share-calc-button" class="button button--share-calc">Share Your Results</div>
	<div id="share-calc-url-container" class="share-calc-url-container hide">
		<span class="right-arrow">&#9654;</span>
		<input id="url-to-share" class="share-calc-url">
		<img src="//mes.fm/main_img/scissors-icon.png" height="32" width="19" id="copy-link-button" class="scissors-icon">
	</div>
	<div id="left-side-container">
		<div id="top-container">
			<p class="calculator-header">Do you want to add tax or remove tax?</p>
			<div class="button-switch">
				<div class="add-button active-button button">add tax</div><div class="remove-button button">remove tax</div>
			</div>

            <div id="input-div">
				<div class="input-row">
					<span>Net Value ($)</span><input id="net-value-input" type="text" placeholder = "eg 1000" autocomplete="off">
				</div>
				<div class="input-row">
					<span>VAT Rate (%)</span><input id="vat-rate-input" type="number" placeholder = "eg 15" autocomplete="off">
				</div>
			</div>
		</div>
		<div id="bottom-container">
			<p class="calculator-header" id="header-1">Tax Amount Added</p>

			<div class="input-row">
				<div class="result-div">
					<div class="result-input-container">
						<input id="result" readonly="readonly" type="text">
					</div>
				</div>
			</div>

			<p class="calculator-header" id="header-2">Gross Amount After Adding Tax</p>
			<div class="input-row">
				<div class="result-div">
					<div class="result-input-container">
						<input id="result-2" readonly="readonly" type="text">
					</div>
				</div>
				<p id="result-text">Please make sure all textfields are filled out.</p>
			</div>
		</div>		
	</div>
</div>
{% endblock %}