{% extends base %}

{% block page_content %}
<div id="main-content">
	<div class="hide-div-button button selected">1. What is percentage?</div>
	<div class="box-border">
		<h2 class="header2 header2--top">What is percentage?</h2>
		<p class="sentence">A percentage is a term used when expressing a ratio as a fraction of the number 100 and the symbol used for it is “%”, which is called the percent or percentage sign. The following examples illustrate this:</p>

		<p class="sentence">Example 1: The ratio 4/5 is the same as writing 80/100 so this simply means that the ratio 4/5 is equal to 80%. This further means that 4 is 80% of 5.</p>
		<p class="sentence">Example 2: A whole number such as 2 can still be considered a ratio of 2/1 which is the same as 200/100 so the percentage is 200%.</p>
	</div>

	<div class="hide-div-button button selected">2. Why do we use percentages?</div>
	<div class="box-border">
		<h2 class="header2 header2--top">Why do we use percentages?</h2>
		<p class="sentence">Percentages are often used because they allow different ratios and numbers to be easily comparable by providing with a standard number to compare them too. And the easier number to compare ratios to for humans is the number 100, because it is a common number that we often deal with and aligns well with the number system we mostly use, which is base 10 decimal number system. So instead of trying to compare the ratios 3/4, 4/5, and 1/2, it is much easier to write them as percentages and then compare them as 75%, 80%, and 50% respectively.</p>
	</div>

	<div class="hide-div-button button selected">3. How do you calculate percentage increase?</div>
	<div class="box-border">
		<h2 class="header2 header2--top">How do you calculate percentage increase?</h2>
		<p class="sentence">To calculate the percentage increase between two numbers, we use the following formula:</p>
		<p class="sentence">Percentage Change = (New Number – Original Number) / (Original Number) x 100</p>
		<p class="sentence">If the percentage change is positive, then this represents a percentage increase. If the percentage change is negative, then this represents a percentage decrease.</p>
	</div>

	{% if show_ads and mobile %}
        <!-- PC (Responsive) Vertical -->
        <ins class="adsbygoogle"
             style="display:block;margin:1em 0"
             data-ad-client="ca-pub-1461238060884369"
             data-ad-slot="3974834064"
             data-ad-format="rectangle"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endif %}

	<div class="hide-div-button button selected">4. How do you work out the percentage of something?</div>
	<div class="box-border">
		<h2 class="header2 header2--top">How do you work out the percentage of something?</h2>
		<p class="sentence">To calculate what percentage the number <span class="bold">A</span> is of <span class="bold">B</span>, you can simply divide <span class="bold">A</span> by <span class="bold">B</span> and then multiply by 100 or simply move the decimal place to the right twice. So for example the percentage 2 is of 4 is 2/4*100 = 0.5*100 = 50%.</p>
	</div>

    <div class="hide-div-button button selected">5. How do you find the percentage of something?</div>
	<div class="box-border">
		<h2 class="header2 header2--top">How do you find the percentage of something?</h2>
		<p class="sentence">Even though this question is similar to the one just above, most of the people that ask this particular question actually refer to the question: The <span class="bold">Number A</span> is <span class="bold">C% of what number</span>? To solve this for this number, let’s call it <span class="bold">B</span>, we first express the percentage <span class="bold">C%</span> as a decimal by dividing it by <span class="bold">100</span>, then divide it into the number <span class="bold">A</span>, thus <span class="bold">B = A/(C/100)</span>. The following example illustrates this more clearly:</p>

		<p class="sentence">Example: 5 is 20% of what number? This number is calculated as 5/(20/100) = 5/0.2 = 25.</p>
	</div>

	<div class="hide-div-button button selected">6. How do you work out percentages on a calculator?</div>
	<div class="box-border">
		<h2 class="header2 header2--top">How do you work out percentages on a calculator?</h2>
		<p class="sentence">The best way to calculate percentages on a calculator is to simply use our percentage calculator. But if for some reason you need to use a physical calculator then there are several ways of working out percentages. If your calculator has a percentage, %, button then you can simply add, subtract, divide, and multiply by adding the percentage sign at each appropriate place. For example, if you want to increase 10 by 50% you can simply type 10 + 50% to get the answer 15%. But if your calculator doesn’t have a percentage button, then you will have to follow the above questions in solving each particular case. For the example shown previously will be thus calculated as follows: 10+50% = 10 + 10*50/100 = 10 + 5 = 15.</p>
	</div>

	<!-- PC (Responsive) Rectangle -->
	<ins class="adsbygoogle"
	     style="display:block;margin:1em 0"
	     data-ad-client="ca-pub-1461238060884369"
	     data-ad-slot="1616796862"
	     data-ad-format="rectangle"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

	<p class="sentence">I hope these answers to these frequently asked questions help you out in understanding percentages but again if we have missed something please let us know by commenting below!</p>
</div>
{% endblock %}