{% extends base %}

{% block javascripts %}
	{{ parent() }}
	<script>$.getScript("{{ root_domain }}js/calculator.js?v=2.2");</script>
{% endblock %}

{% block extra_styles %}
	<style>
	.divider {height:1px;width:100%;background-color:#b2b2b2;margin:1em 0;}
	.calculator-header {font-size: 1.1em;margin-bottom:1em;}
	.input {height:2em;width:4em;font-size: 1em;text-align: center;}
	.input-row {margin:0 0 1em 0; padding:1em 0.8em; position: relative;background-color: #ededed;border: 1px solid #cbcbcb;border-radius: 0.5em;}
	.small-font {font-size:0.9em;}

	.table-cell {display: table-cell;}
	.vertical-align {vertical-align: middle;}
	.center-align {text-align: center;}
	.mixed-fraction-container {margin-bottom: 0.5em;position: relative;}
	.input--whole {margin-right:0.5em;}
	.fraction-input-container {width:4.2em;}
	.input--fraction {display:inline-block;}
	.fraction-line {display:inline-block;height:0.15em;background-color:#333333;width:4.2em;margin:0.25em 0;}
	.input-container--mixed {bottom:1.875em;}
	.input-container {display: inline-block;position: absolute; right:0;}
	.text--answer {display: table-cell;vertical-align: middle;}
	.answer {background-color: white;border: 0.0625em #b2b2b2 solid;width:5em;padding:0 0.3em;height:2.15em;display: table-cell;vertical-align: middle;text-align: center;font-weight: normal;}
	.hover:hover {background-color: #55acee;color:white;cursor: pointer;}
	.button-icon {height:0.6em;width:0.6em;line-height:0.6em;padding:0.35em;border-radius:0.8em;border: 0.125em solid #55acee;display:inline-block;font-weight:700;color:#55acee;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;cursor: pointer;margin-right:0.8em;}
	.button-icon--off {cursor:default; margin-right:0;}
	.button-icon--mixed-fraction {margin-right:0.2em;margin-bottom:0.2em;}
	.plus-sign-container {display:table-cell;vertical-align:middle;}
	.plus-sign-button {margin-left:0.3em;}
	.plus-sign-button--mixed-fraction {margin-right:0;}
	.x-sign-button {color:red;border-color: red;}
	.box-border__inside {display: inline-block;border:0.1em solid #55acee; padding:0.6em 1em;margin:0.6em 0; background-color: white;}
	.selected {background-color: #55acee; color: white;}
	/* turn off input step thingies */
	input[type=number] {-moz-appearance: textfield;}
	{% if mobile %}
		.input {height:1.5em;width:6.5em;margin-top:0.5em;margin-bottom: 0.5em;}
		.input-container--mixed {margin-bottom: 1.5em;}
		.input-container {display: block;margin-top:0.7em;margin-bottom:0.5em;position: static;}
		.text--answer {line-height: 1.2;}
		.answer {width:9em;height:2.15em;}
		.input-row {margin-bottom:1em;}
	{% endif %}
	.small-input {width:3em;}
	</style>
{% endblock %}

{% block page_content %}

	<div id="main-content">
		<div id="share-calc-button" class="button button--share-calc">Share Calculations</div>
		<div id="share-calc-url-container" class="share-calc-url-container hide">
			<span class="right-arrow">&#9654;</span>
			<input id="url-to-share" class="share-calc-url">
			<img src="//mes.fm/main_img/scissors-icon.png" height="32" width="19" id="copy-link-button" class="scissors-icon">
		</div>
		
		<div class="equation" id="equation-1">
			<div class="input-row">
				<div class="button-icon question-mark-button">?</div><input autocomplete="off" class="input" type="text"><span>&nbsp;is what percentage of&nbsp;</span><input autocomplete="off" class="input" type="text"><span>&nbsp;?</span>
				<div class="input-container"><span class="text--answer">Answer:&nbsp;</span><div class="answer"></div><div class="plus-sign-container"><div class="button-icon plus-sign-button">+</div></div></div>
				<div class="box-container hide"><div class="box-border__inside"><span>Formula:&nbsp;&nbsp;<span class="formula">A / B * 100</span></span></div></div>
			</div>
		</div>

		{#{% if mobile %}<div class="divider"></div>{% endif %}#}

		<div class="equation" id="equation-2">
			<div class="input-row">
				<div class="button-icon question-mark-button">?</div><span>What is&nbsp;</span><input autocomplete="off" class="input" type="text"><span>&nbsp;% of&nbsp;</span><input autocomplete="off" class="input" type="text"><span>&nbsp;?</span>
				<div class="input-container"><span class="text--answer">Answer:&nbsp;</span><div class="answer"></div><div class="plus-sign-container"><div class="button-icon plus-sign-button">+</div></div></div>
				<div class="box-container hide"><div class="box-border__inside"><span>Formula:&nbsp;&nbsp;<span class="formula">A * B / 100</span></span></div></div>
			</div>
		</div>

		{#{% if mobile %}<div class="divider"></div>{% endif %}#}

		<div class="equation" id="equation-3">
			<div class="input-row">
				<div class="button-icon question-mark-button">?</div><input autocomplete="off" class="input" type="text"><span>&nbsp;is&nbsp;</span><input autocomplete="off" class="input" type="text"><span>&nbsp;% of what?</span>
				<div class="input-container"><span class="text--answer">Answer:&nbsp;</span><div class="answer"></div><div class="plus-sign-container"><div class="button-icon plus-sign-button">+</div></div></div>
				<div class="box-container hide"><div class="box-border__inside"><span>Formula:&nbsp;&nbsp;<span class="formula">A / B * 100</span></span></div></div>
			</div>
		</div>

		{% if mobile and show_ads %}
			<!-- (Responsive) Vertical -->
			<div class="adsense" style="height:280px">
			    <ins class="adsbygoogle"
			         style="display:block;margin:1.5em 0"
			         data-ad-client="ca-pub-1461238060884369"
			         data-ad-slot="{{ ad_id['resp_vert'] }}"
			         data-ad-format="rectangle"></ins>
			</div>
		    {#<script>
		    (adsbygoogle = window.adsbygoogle || []).push({});
		    </script>#}
		{% endif %}

		<div class="equation" id="equation-4">
			<div class="input-row">
				<div class="button-icon question-mark-button">?</div><span class="small-font">Increase/Decrease from&nbsp;</span><input autocomplete="off" class="input" type="text"><span class="small-font">&nbsp;to&nbsp;</span><input autocomplete="off" class="input" type="text"><span class="small-font">&nbsp;?</span>
				<div class="input-container"><span class="text--answer">Answer:&nbsp;</span><div class="answer"></div><div class="plus-sign-container"><div class="button-icon plus-sign-button">+</div></div></div>
				<div class="box-container hide"><div class="box-border__inside"><span>Formula:&nbsp;&nbsp;<span class="formula">(B - A) / A * 100</span></span></div></div>
			</div>
		</div>

		{#{% if mobile %}<div class="divider"></div>{% endif %}#}

		<div class="equation" id="equation-5">
			<div class="input-row">
				<div class="mixed-fraction-container">
					<div class="table-cell vertical-align">
						<div class="table-cell vertical-align">
							<div class="button-icon button-icon--mixed-fraction">?</div>
							<span>Percentage of the mixed fraction:&nbsp;</span><br>
							{#<span class="small-text">(leave the first input blank for non-mixed fractions)&nbsp;</span>#}
						</div>
						<div class="table-cell vertical-align">
							<input autocomplete="off" class="input input--whole small-input" type="text">
						</div>
					</div>
					<div class="fraction-input-container table-cell vertical-align center-align">
						<input autocomplete="off" class="input input--fraction small-input" type="text">
						<div class="fraction-line"></div>
						<input autocomplete="off" class="input small-input" type="text">
					</div>
					<div class="table-cell vertical-align"><span>&nbsp;?</span></div>
					<div class="input-container input-container--mixed"><span class="text--answer">Answer:&nbsp;</span><div class="answer"></div><div class="plus-sign-container"><div class="button-icon plus-sign-button plus-sign-button--mixed-fraction">+</div></div></div>
				</div>
				<div class="box-container box-border--mixed-fraction hide"><div class="box-border__inside"><span>Formula:&nbsp;&nbsp;<span class="formula">(A * C + B) / C * 100</span></span></div></div>
			</div>
		</div>

		<div id="more-calcs-button" class="hide-div-button button">more calculations</div>

		<div id="extra-calcs" class="hide">
			<div class="equation" id="equation-6">
				<div class="input-row">
					<div class="button-icon question-mark-button">?</div><input autocomplete="off" class="input" type="text"><span>&nbsp;x&nbsp;</span><input autocomplete="off" class="input" type="text"><span>&nbsp;% ?</span>
					<div class="input-container"><span class="text--answer">Answer:&nbsp;</span><div class="answer"></div><div class="plus-sign-container"><div class="button-icon plus-sign-button">+</div></div></div>
					<div class="box-container hide"><div class="box-border__inside"><span>Formula:&nbsp;&nbsp;<span class="formula">A * B / 100</span></span></div></div>
				</div>
			</div>

			<div class="equation" id="equation-7">
				<div class="input-row">
					<div class="button-icon question-mark-button">?</div><input autocomplete="off" class="input" type="text"><span>&nbsp;/&nbsp;</span><input autocomplete="off" class="input" type="text"><span>&nbsp;% ?</span>
					<div class="input-container"><span class="text--answer">Answer:&nbsp;</span><div class="answer"></div><div class="plus-sign-container"><div class="button-icon plus-sign-button">+</div></div></div>
					<div class="box-container hide"><div class="box-border__inside"><span>Formula:&nbsp;&nbsp;<span class="formula">A / (B / 100)</span></span></div></div>
				</div>
			</div>

			<div class="equation" id="equation-8">
				<div class="input-row">
					<div class="button-icon question-mark-button">?</div><span>Increase&nbsp;</span><input autocomplete="off" class="input" type="text"><span>&nbsp;by&nbsp;</span><input autocomplete="off" class="input" type="text"><span>&nbsp;%</span>
					<div class="input-container"><span class="text--answer">Answer:&nbsp;</span><div class="answer"></div><div class="plus-sign-container"><div class="button-icon plus-sign-button">+</div></div></div>
					<div class="box-container hide"><div class="box-border__inside"><span>Formula:&nbsp;&nbsp;<span class="formula">A * (1 + B / 100)</span></span></div></div>
				</div>
			</div>

			<div class="equation" id="equation-9">
				<div class="input-row">
					<div class="button-icon question-mark-button">?</div><span>Decrease&nbsp;</span><input autocomplete="off" class="input" type="text"><span>&nbsp;by&nbsp;</span><input autocomplete="off" class="input" type="text"><span>&nbsp;%</span>
					<div class="input-container"><span class="text--answer">Answer:&nbsp;</span><div class="answer"></div><div class="plus-sign-container"><div class="button-icon plus-sign-button">+</div></div></div>
					<div class="box-container hide"><div class="box-border__inside"><span>Formula:&nbsp;&nbsp;<span class="formula">A * ( 1 - B / 100)</span></span></div></div>
				</div>
			</div>
		</div>
	</div>

	{% if show_ads %}
		<!-- PC (Responsive) Rectangle -->
		<div class="adsense" style="height:280px">
			<ins class="adsbygoogle"
			     style="display:block;margin: 1.5em 0"
			     data-ad-client="ca-pub-1461238060884369"
			     data-ad-slot="1616796862"
			     data-ad-format="rectangle"></ins>
		</div>
		{#<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>#}
	{% endif %}

	<div class="hide-div-button button selected">Important Notes on our Percentage Calculator</div>
	<div class="box-border">
		<h2 class="header2 header2--top">Save Time with your Keyboard</h2>
		<p class="sentence combine">Our percentage calculator is perfect for anyone that wants to save time in calculating many different percentages as well as for anyone that is not good at math! To even save you more time we made sure that the calculations are automatically calculated as you type in the input boxes. Another way we have made it to save you time is, if you are using a computer, you can simply move from one input to the next by pressing “Tab” on your keyboard and to move to the previous input press “Shift + Tab” together on your keyboard! This makes it super easy and fast to move to each input without needing to use your mouse or cursor.</p>
		<h2 class="header2">Scientific Notation</h2>
		<p class="sentence">If you are inputting numbers in the percentage calculator that result in an answer being very small or very large, the answer may appear in the format of scientific notation to fit inside the answer box. Scientific Notation is simply a number format that includes a multiplication of 10 to the power of either a negative number, for small numbers, or to the power of a positive number, for larger numbers. This method reduces the amount of digits and especially zeros needed to write in representing a number.</p>
		<p class="sentence">Some examples of scientific notation are shown below:</p>
		<h3 class="header3">Example 1: Scientific Notation for Small Numbers</h3>
		<p class="sentence">0.000027 = 2.7x10<sup>-5</sup></p>
		<h3 class="header3">Example 2: Scientific Notation for Large Numbers</h3>
		<p class="sentence">270000 = 2.7x10<sup>5</sup></p>
		<h2 class="header2">Formulas of calculations</h2>
		<p class="sentence">The formulas of each of the calculations used in our percentage calculator can be seen by clicking the question mark, <span class="button-icon button-icon--off">?</span> , next to each calculation.  A video tutorial on using our calculator as well as a walk through of the calculations and formulas is shown here: <a href="{{ root_domain }}tutorial" class="link">Percentage Calculator Tutorial</a>.</p>
	</div>
{% endblock %}