.calculator-header {font-size: 1.1em;margin-bottom:1em;margin-top:0.5em;}
#main-content #left-side-container input {height:2em;width:9em;font-size: 1em;text-align: center;}

#main-content #left-side-container #result,#main-content #left-side-container #result-2 {width:10em;}
.button-switch {text-align: center;display:table;width:100%;margin-bottom: 1em;}
.add-button, .remove-button {display:table-cell;width:50%;cursor:pointer;}
.add-button {border-right-width:0.0625em; }
.remove-button {border-left-width:0.0625em; }
.active-button {background-color:#dbbd3d;color:white;}

.input-row {margin:0.5em 0;position: relative;}
#left-side-container {display:table-cell;padding-right:2em;width:21em;}
#input-div input {margin-left:0.3em;}
.height-div {margin-top: 0.5em;}
#input-div span {display: inline-block;width:9em;font-size: 1em;font-weight: 100;}
#bottom-container .height-div input:last-child {margin-left:0.5em;}
#bottom-container {margin-top:1.2em;}
#result {margin-bottom:1.2em;margin-top: 1em;}
.result-input-container input {display: block;background-color: #EEEEEE;border: 0.0625em #b2b2b2 solid;}
#result-text {color:black;margin-top:0.8em;line-height: 1.3;font-style: italic;font-weight: 100;}
#result-text span {font-weight: 700;}
#note {line-height: 1.2;font-weight: 100;display: inline-block;}
#note span {line-height: 1.2;font-weight: normal;}

