.divider {height:1px;width:100%;background-color:#b2b2b2;margin:1em 0;}
.calculator-header {font-size: 1.1em;margin-bottom:1em;}
#main-content input {height:2em;width:5em;font-size: 1em;text-align: center;}
.input-row {margin:0 0 1.5em 0;position: relative;}
#main-content .small-input {width:3em;}
.table-cell {display: table-cell;}
.vertical-align {vertical-align: middle;}
.center-align {text-align: center;}
#mixed-fraction-container {margin-bottom: 0;}
#whole-input-container input {margin-right:0.5em;}
#fraction-input-container {width:4.2em;}
#fraction-input-container input {display:inline-block;}
#fraction-input-container .fraction-line {display:inline-block;height:0.15em;background-color:#333333;width:4.2em;margin:0.25em 0;}
#mixed-fraction-container .input-container {bottom:1.875em;}
.input-container {display: inline-block;position: absolute; right:0;}
#main-content .input-container input {background-color: #EEEEEE;border: 0.0625em #b2b2b2 solid;width:6.5em;}
#result-text {color:black;margin-top:0.8em;line-height: 1.3;font-style: italic;font-weight: 100;}
#result-text span {font-weight: 700;}
.input-container span {display: table-cell;vertical-align: middle;}
.input-container .result {display: table-cell;}
#main-content .answer {font-weight: normal;}
.result {background-color: #EEEEEE;border: 0.0625em #b2b2b2 solid;width:6.5em;height:2.15em;display:inline-block;vertical-align: middle;text-align: center;}
.hide {display: none;}
.hover:hover {background-color: #55acee;color:white;cursor: pointer;}
.question-mark {height:0.6em;width:0.6em;line-height:0.6em;padding:0.35em;border-radius:0.8em;border: 0.125em solid #55acee;display:inline-block;font-weight:700;color:#55acee;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.question-mark-button {cursor: pointer;margin-right:0.5em;}
.question-mark-button--mixed-fraction {cursor: pointer;margin-right:0.2em;margin-bottom:0.2em;}
.box-border {display:block;}
.box-border__inside {display: inline-block;border:0.1em solid #55acee; padding:0.6em 1em;margin:0.5em 0;}
.hide {display: none;}
.selected {background-color: #55acee; color: white;}

/* turn off input step thingies */
input[type=number] {
-moz-appearance: textfield;
}